<div class="sbu-wrapper clearfix">
    <div class="sbu-sub-wrapper">

        <div class="header-container">
            <!-- <logo-container> -->
            <div class="mag-head">
                <div class="mag-head_wrapper clearfix">
                    <header class="mag-header">
                        <a href="http://stonybrook.edu" class="mag-header_sbu-logo"><img src="//mobile.cc.stonybrook.edu/sb/img/branding/logo/sbu/secondary/white/300/stony-brook-university-logo-horizontal-white-300.png" alt="Stony Brook University logo"></a>
                        <a href="http://stonybrook.edu/magazine" class="mag-header_mag-logo">MAGAZINE</a>
                        <span class="mag-header_issue-info"><span>Issue 01 | Spring/Summer 2016</span></span>
                    </header>
                    <nav class="mag-nav clearfix">
                        <a class="mag-nav_topics smooth-scroll-hash" href="magazine/#stories" data-disable-history-state="true" data-offset="true" data-offset-top="-124" data-offset-breakpoint-start="1320">Current Issue</a>
                        <!--<a class="mag-nav_search" href="#"><span class="hide-accessible">Search</span><em class="fa fa-search"></em></a>-->
                    </nav>
                </div>
            </div>
            <!-- </logo-container> -->
        </div>
        <div class="main-container">
            <div class="main clearfix">

                <div id="mag-article-container" class="mag-article-container intro-effect-sidefixed">

                    <header class="mag-article_header">
                        <div class="mag-article_header_bg-img"><img src="http://www.stonybrook.edu/happenings/wp-content/uploads/presidents-letter-4.jpg" alt=""></div>
                    </header>
                    <button class="trigger animated pulse" data-info="Read the story"><span>Read Story</span></button>
                    <article class="content">
                        <div class="title clearfix">
                            <h1>May 2016</h1>
                            <p class="subline">DoIT News Stories from May 2016</p>
                            <p class="author"></p>
                        </div>
                        <div class="mag-article_content_wrapper clearfix">
                            <date>May 11, 2016</date>
                            <br>
                            <h3>Qualtrics launches new user interface</h3>
                            <h4>Qualtrics, the survey and research tool, get a fresh new face and a few new features</h4>
                            <p>Stony Brook University’s survey software tool, Qualtrics, which allows students, faculty and staff to conduct insightful research, is transitioning to a new user interface on June 14, 2016. The Qualtrics Insight Platform aims
                                to simplify and streamline survey workflows through a new layout and design as well as some new features. All existing data and surveys will still be there, but you’ll now have access to new features to enhance your survey
                                building and reporting experience.</p>
                            <hr>
                            <div class="social-share-button-wrapper">

                                <!--<button class="social-share-trigger">Share</button>-->
                                <div class="social-share-button-wrapper clearfix">
                                    <button class="button social-share facebook-share facebook-share-trigger"><em class="fa fa-share"></em> Share on Facebook</button>
                                    <a class="button social-share twitter-share twitter-share-trigger" href="http://twitter.com/share?url=http://mobile.cc.stonybrook.edu/sb/magazine/2016-spring/dispatches-from-our-labs-and-beyond" target="_new"><em class="fa fa-share"></em> Share on Twitter</a>
                                    <!--<button class="button social-share copy-link copy-link-trigger">Copy Link</button>-->
                                </div>

                            </div>
                            <date>May 09, 2016</date>
                            <br>
                            <h3>Important Changes to MySBmail, MySBfiles and Sparky Taking Place May 25, 2016</h3>

                            <p>Three important changes will take place on Wednesday, May 25, affecting three different IT services:

                                <p>MySBmail (@ic.sunysb.edu) will be discontinued on May 25, 2016. This means that all incoming mail will no longer be accepted by @ic.sunysb.edu. For those who were forwarding their @ic.sunysb.edu mail to another email address,
                                    mail will continue to forward. On Wednesday, Aug. 31, mail archives will be deleted (and no longer recoverable). For groups that would like a shared mailbox or group email, please refer to the Setting Up Departmental
                                    Shared Mailboxes knowledgebase article.</p>

                                <p>MySBfiles will no longer provide web hosting as of Wednesday, May 25. Any websites that currently exist at https://mysbfiles.stonybrook.edu/~NetID will no longer be available as of Monday, Aug. 1, 2016. Stony Brook provides
                                    the following alternatives:
                                    <ul>
                                        <li>SB You (WordPress platform)</li>
                                        <li>Google Sites</li>
                                        <li>Digication (ePortfolio)</li>
                                        <li>UNIX hosting (SSH/SFTP required) - Stony Brook's UNIX server is called Sparky</li>
                                    </ul>
                                </p>
                                <p>SFTP/SSH will be required to use Sparky. Sparky, Stony Brook's UNIX server, will have new connectivity requirements as of May 25. SSH and SFTP will be required to access Sparky moving forward.</p>
                                <hr>
                                <div class="social-share-button-wrapper">

                                    <!--<button class="social-share-trigger">Share</button>-->
                                    <div class="social-share-button-wrapper clearfix">
                                        <button class="button social-share facebook-share facebook-share-trigger"><em class="fa fa-share"></em> Share on Facebook</button>
                                        <a class="button social-share twitter-share twitter-share-trigger" href="http://twitter.com/share?url=http://mobile.cc.stonybrook.edu/sb/magazine/2016-spring/dispatches-from-our-labs-and-beyond" target="_new"><em class="fa fa-share"></em> Share on Twitter</a>
                                        <!--<button class="button social-share copy-link copy-link-trigger">Copy Link</button>-->
                                    </div>

                                </div>

                                <date>May 03, 2016</date>
                                <h3>Woo Issues Call to Action for Diversity, Equity, and Inclusion</h3>
                                <p>Intended to kick off an extended effort during the next year in EDUCAUSE to help people gain usable knowledge of why diversity, equity, and inclusion is important and how to increase it in the higher education IT workforce,
                                    Stony Brook University CIO Melissa Woo co-authored an article that appeared in the May 2 issue of EDUCAUSE Review Online titled "Diversity, Equity, and Inclusion: A Call to Action." Woo and her colleague, Keith McIntosh,
                                    associate vice president and chief information officer of digital instruction and information services at Ithaca College, argue that the values of diversity, equity, and inclusion are "imperative for improving decision
                                    making and outcomes," and "should be valued as much as budgets, strategies, governance, and the technologies we deploy and support." They lay out seven suggestions for the higher education IT workforce to immediately
                                    take action on and welcomed ideas from the online publication's community at-large.

                                </p>

                                <hr>

                                <div class="social-share-button-wrapper">

                                    <!--<button class="social-share-trigger">Share</button>-->
                                    <div class="social-share-button-wrapper clearfix">
                                        <button class="button social-share facebook-share facebook-share-trigger"><em class="fa fa-share"></em> Share on Facebook</button>
                                        <a class="button social-share twitter-share twitter-share-trigger" href="http://twitter.com/share?url=http://mobile.cc.stonybrook.edu/sb/magazine/2016-spring/dispatches-from-our-labs-and-beyond" target="_new"><em class="fa fa-share"></em> Share on Twitter</a>
                                        <!--<button class="button social-share copy-link copy-link-trigger">Copy Link</button>-->
                                    </div>

                                </div>
                                <div class="social-bar">
                                    <a class="prev" href="magazine/2016-spring/roy-lacey-an-accelerating-career-in-nuclear-chemistry">Previous</a>
                                    <a class="next" href="magazine/2016-spring/the-public-research-university-of-tomorrow">Next</a>
                                </div>
                        </div>
                    </article>
                    <div class="mag-article_gallery hide-accessible">

                        <a class="item nivo-lightbox mag-gallery_images_thumb" href="#image-1" data-lightbox-type="inline" data-caption="true" data-lightbox-gallery="mag-gallery">
                            <img src="http://www.stonybrook.edu/happenings/wp-content/uploads/presidents-letter-4.jpg" alt="">
                        </a>
                        <div id="image-1" class="inline-lightbox-content">
                            <img class="mag-gallery_images_image" src="http://www.stonybrook.edu/happenings/wp-content/uploads/presidents-letter-4.jpg" alt="">
                            <div class="mag-gallery_images_caption">
                                <button class="mag-gallery_images_caption_view-trigger"><span>View</span> caption</button>
                                <div>
                                    <h4>News &amp; Notes</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div id="meta-override" class="hidden" data-title="News &amp; Notes" data-description="DEBATING CANCER RISKS Stony Brook University team takes a different point of view When a research paper appeared in Science last year proclaiming that cancer risk can be put down to random mutations — in other words, bad luck — researchers at Stony Brook were inspired to take a different approach with the data. Led
Read More
" data-url="http://mobile.cc.stonybrook.edu/sb/magazine/2016-spring/dispatches-from-our-labs-and-beyond" data-image="http://www.stonybrook.edu/happenings/wp-content/uploads/presidents-letter-4.jpg"></div>
                </div>
                <!-- /container -->
                <script src="http://mobile.cc.stonybrook.edu/sb/js/vendor/classie.js"></script>
                <script>
                    (function() {

                        // detect if IE : from http://stackoverflow.com/a/16657946
                        var ie = (function() {
                            var undef, rv = -1; // Return value assumes failure.
                            var ua = window.navigator.userAgent;
                            var msie = ua.indexOf('MSIE ');
                            var trident = ua.indexOf('Trident/');

                            if (msie > 0) {
                                // IE 10 or older => return version number
                                rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
                            } else if (trident > 0) {
                                // IE 11 (or newer) => return version number
                                var rvNum = ua.indexOf('rv:');
                                rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
                            }

                            return ((rv > -1) ? rv : undef);
                        }());


                        // disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179
                        // left: 37, up: 38, right: 39, down: 40,
                        // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
                        var keys = [32, 37, 38, 39, 40],
                            wheelIter = 0;

                        function preventDefault(e) {
                            e = e || window.event;
                            if (e.preventDefault)
                                e.preventDefault();
                            e.returnValue = false;
                        }

                        function keydown(e) {
                            for (var i = keys.length; i--;) {
                                if (e.keyCode === keys[i]) {
                                    preventDefault(e);
                                    return;
                                }
                            }
                        }

                        function touchmove(e) {
                            preventDefault(e);
                        }

                        function wheel(e) {
                            // for IE
                            //if( ie ) {
                            //preventDefault(e);
                            //}
                        }

                        function disable_scroll() {
                            window.onmousewheel = document.onmousewheel = wheel;
                            document.onkeydown = keydown;
                            document.body.ontouchmove = touchmove;
                        }

                        function enable_scroll() {
                            window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;
                        }

                        var docElem = window.document.documentElement,
                            scrollVal,
                            isRevealed,
                            noscroll,
                            isAnimating,
                            container = document.getElementById('mag-article-container'),
                            trigger = container.querySelector('button.trigger');

                        function scrollY() {
                            return window.pageYOffset || docElem.scrollTop;
                        }

                        function scrollPage() {
                            scrollVal = scrollY();

                            if (noscroll && !ie) {
                                if (scrollVal < 0) return false;
                                // keep it that way
                                window.scrollTo(0, 0);
                            }

                            if (classie.has(container, 'notrans')) {
                                classie.remove(container, 'notrans');
                                return false;
                            }

                            if (isAnimating) {
                                return false;
                            }

                            if (scrollVal <= 0 && isRevealed) {
                                toggle(0);
                            } else if (scrollVal > 0 && !isRevealed) {
                                toggle(1);
                            }
                        }

                        function toggle(reveal) {
                            isAnimating = true;

                            if (reveal) {
                                classie.add(container, 'modify');
                            } else {
                                noscroll = true;
                                disable_scroll();
                                classie.remove(container, 'modify');
                            }

                            // simulating the end of the transition:
                            setTimeout(function() {
                                isRevealed = !isRevealed;
                                isAnimating = false;
                                if (reveal) {
                                    noscroll = false;
                                    enable_scroll();
                                }
                            }, 600);
                        }

                        // refreshing the page...
                        var pageScroll = scrollY();
                        noscroll = pageScroll === 0;

                        disable_scroll();

                        if (pageScroll) {
                            isRevealed = true;
                            classie.add(container, 'notrans');
                            classie.add(container, 'modify');
                        }

                        window.addEventListener('scroll', scrollPage);
                        trigger.addEventListener('click', function() {
                            toggle('reveal');
                        });
                    })();
                </script>
            </div>
            <!-- .main -->
        </div>
        <!-- .main-container -->
        <!-- <div.footer-container> -->
        <div class="footer-container clearfix">
            <footer class="footer-bar">
                <nav class="wrapper">
                    <span><span id="directedit" class="copyright">©</span> 2016 Stony Brook University</span><span>Stony Brook, NY 11794</span><span class="last">(631) 632-6000</span>
                    <div class="clearfix policy-links">
                        <a class="item" href="http://www.stonybrook.edu/sb/access">Accessibility</a>
                        <a class="item" href="http://www.stonybrook.edu/sb/privacy">Privacy Policy</a>
                    </div>
                </nav>
            </footer>
        </div>
        <!-- </div.footer-container> -->
        <!--
				<div class="left-fixed-sidebar-container">

				</div>

				<div class="right-fixed-sidebar-container">

				</div>
-->
        <!-- <to-top> -->
        <!-- </to-top> -->

    </div>
    <!-- .sbu-sub-wrapper -->
</div>


<!-- </scripts> -->
