<!-- ===========================================================================

** Title Section **

This section is only visible on mobile screens.


============================================================================ -->

<section class="hidden-md hidden-lg hidden-xl snug" style="background-color: #111;">
  <div class="container">
      <h2 class="heading white noMarginBottom">Explore IT For Students</h2>
      <p class="small white noMarginTop">Division of Information Technology</p>
  </div>
</section>

<section class="redRaysBorder hidden-md hidden-lg" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg');"></section>

<!-- ===========================================================================

** Welcome section + Video **

============================================================================ -->

<section id="top" class="fluffy hero-beyond display--flex gradient-overlay__TopRight">
  <div class="container">
      <div class="col-md-5 bg-white side-padding cozy" data-match-height="top-section">
        <h2 class="heading red">Student Technology Guide</h2>
        <p class="normal-text">This guide will provide you with an overview on essential services offered by the Division of Information Technology (DoIT) that will enable you to be successful at Stony Brook University.</p>
        <a href="#gettingStarted" class="default-button button-large scrollto">Get Started &raquo;</a>
      </div>
      <div class="col-md-7 bg-white side-padding cozy" data-match-height="top-section">
        <div class="youtube-container">
          <div class="youtube-player" data-id="DJ8hg4m6Nbg"></div>
        </div>
      </div>
  </div>
</section>

<!-- ===========================================================================

** Navigation **

This navigation will fix to the top of the screen on scroll.
Fixed position will be removed when back to the top of the page.

============================================================================ -->


<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">

  <div class="container">
    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-nav-fixedbar"></span>
      </button>
    </div>

    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">

      <ul class="nav navbar--fixed__links main-nav">
        <li><a data-toggle="collapse" data-target="#fixedNavCollapse" href="#top" class="fixedNavLink scrollto">Top</a></li>
        <li><a data-toggle="collapse" data-target="#fixedNavCollapse" href="#gettingStarted" class="fixedNavLink scrollto">Getting Started</a></li>
        <li><a data-toggle="collapse" data-target="#fixedNavCollapse" href="#studentServices" class="fixedNavLink scrollto">Student Services</a></li>
        <li><a data-toggle="collapse" data-target="#fixedNavCollapse" href="#learningTools" class="fixedNavLink scrollto">Learning Tools</a></li>
        <li><a data-toggle="collapse" data-target="#fixedNavCollapse" href="#gettingHelp" class="fixedNavLink scrollto">Getting Help</a></li>
      </ul>
    </div>
  </div>
</nav>



<!-- This acts as a spacer on larger screens -->
    <!-- <section class="fluffy hidden-xs hidden-sm hidden-md"></section> -->

<!-- ===========================================================================
  ** Getting Started **
============================================================================ -->
<section id="gettingStarted" class="bg-white fluffy wow animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="heading text-left">Getting Started</h2>
        <p class="normal-text text-left">This section will help you learn more about Wi-Fi, SOLAR, and NetID.</strong></p>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="gettingStarted">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/solar.jpg" alt="wolfie the seawolf floating in space">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">SOLAR</h3>
              <h4 class="box-card--subheading">solar.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            SOLAR is Stony Brook University's enterprise-wide, self-service system which provides faculty, staff, and students with online access to manage personal information.
          </div>
          <div class="box-card--cta">
            <div class="panelSOLAR-btn default-button button-large button-block scrollto">More About SOLAR &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="gettingStarted">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/netid.jpg" al="student sitting on couch on laptop">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">NetID</h3>
              <h4 class="box-card--subheading">netid.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Every active employee, student, and faculty member is assigned a NetID which is used to access various computing resources.
          </div>
          <div class="box-card--cta">
            <div class="panelNetID-btn default-button button-large button-block scrollto">More About NetID &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="gettingStarted">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/wifi.jpg" alt="person holding phone with wifi symbol">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">WolfieNet</h3>
              <h4 class="box-card--subheading">wolfienet.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            WolfieNet is Stony Brook University's wireless network on West Campus, Southampton, Manhattan, and parts of East Campus. It is available to all faculty, students, staff, and guests.
          </div>
          <div class="box-card--cta">
            <div class="panelWiFi-btn default-button button-large button-block scrollto">More About Wi-Fi &raquo;</div>
          </div>
        </div>
      </div>



      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="fluffy">
          <div class="text-center text-left-mobile">
            <p class="normal-text">Continue to Learn More About Student Services Around Campus</p>
            <br><a href="#studentServices" class="scrollto"><span class="continue-arrow sbuicon-arrow-down3 red" aria-hidden="true"></span><span class="sr-only">Go to Next Section Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =====================================================================
  ** Around Campus **
====================================================================== -->
<section id="studentServices" class="hero-beyond__white fluffy wow animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="heading text-left">Student Services</h2>
        <p class="normal-text text-left">This section will help you learn more about Printing, SINC Sites, Hardware/Software.</strong></p>
      </div>



      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="studentServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/software.jpg" alt="person sitting in front of laptop">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Software / Hardware</h3>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Enjoy free software titles such as Microsoft Office, and free Windows OS upgrades.
          </div>
          <div class="box-card--cta">
            <div class="panelHwSw-btn default-button button-large button-block scrollto">More About Software / Hardware &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="studentServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/sincsites.jpg" alt="students working in computer lab">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">SINC Sites</h3>
              <h4 class="box-card--subheading">sincsites.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            SINC Sites are public computer labs that allow users to access both Windows & Mac computers. SINC Sites provide printing services and access to numerous academic software titles.
          </div>
          <div class="box-card--cta">
            <div class="panelSINC-btn default-button button-large button-block scrollto">More About SINC Sites &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="studentServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/printing.jpg" alt="person using multifunction printer">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Printing</h3>
              <h4 class="box-card--subheading">printing.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Students can print in SINC Sites and other computer labs on campus, or by using Stony Brook's Print From Anywhere service.
          </div>
          <div class="box-card--cta">
            <div class="panelPrinting-btn default-button button-large button-block scrollto">More About Printing &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="fluffy">
          <div class="text-center text-left-mobile">
            <p class="normal-text">Continue to Learn More About Learning Tools</p>
            <br><a href="#learningTools" class="scrollto"><span class="continue-arrow sbuicon-arrow-down3 red" aria-hidden="true"></span><span class="sr-only">Go to Next Section Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===========================================================================
** End of Student Services **
============================================================================ -->

<!-- ===========================================================================
  ** Learning Tools **
============================================================================ -->

<section id="learningTools" class="bg-white fluffy wow animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="heading text-left">Learning Tools</h2>
        <p class="normal-text text-left">This section will help you learn more about Google Apps, Blackboard, and Lynda.com.</strong></p>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/blackboard.jpg" ald="student doing homework in front of laptop">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Blackboard</h3>
              <h4 class="box-card--subheading">blackboard.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Blackboard is Stony Brook University's learning management system (LMS), which allows instructors to supplement face-to-face classes, or launch online classes.
          </div>
          <div class="box-card--cta">
            <div class="panelBlackboard-btn default-button button-large button-block scrollto">More About Blackboard &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/google.jpg" alt="person in front of laptop with google apps logos on screen">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Google</h3>
              <h4 class="box-card--subheading">google.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Stony Brook's Google Apps suite of products includes Mail, Calendar, Drive, Contacts, Sites, Groups, Hangouts and a host of other applications to enhance communication and real-time collaboration across campus.
          </div>
          <div class="box-card--cta">
            <div class="panelGoogle-btn default-button button-large button-block scrollto">More About Google &raquo;</div>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/lynda.jpg" alt="students working together at computer station">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Lynda.com</h3>
              <h4 class="box-card--subheading">lynda.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Stony Brook offers Lynda.com as a service. Lynda.com offers high-quality video tutorials for common computer applications and other skills.
          </div>
          <div class="box-card--cta">
            <div class="panelLynda-btn default-button button-large button-block scrollto">More About Lynda.com &raquo;</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="fluffy">
          <div class="text-center text-left-mobile">
            <p class="normal-text">Continue to Learn More About Where to Find Help</p>
            <br><a href="#gettingHelp" class="scrollto"><span class="continue-arrow sbuicon-arrow-down3 red" aria-hidden="true"></span><span class="sr-only">Go to Next Section Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===========================================================================
  ** End of Learning Tools **
============================================================================ -->



<!-- ===================================================================

** Where to get help section **

==================================================================== -->

<section id="gettingHelp" class="hero-beyond fluffy gradient-overlay__TopRight wow animated fadeInUp">
  <div class="container">
    <div class="row  display--flex">
      <div class="col-md-4 hidden-sm hidden-xs">
        <img src="../../placeholders/images/orientation/clientsupport.png" class="img-responsive" alt="Woman smiling, and on the phone">
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <h3 class="heading white">Where to Find Help</h3>
        <p class="normal-text white">DoIT is committed to providing outstanding service to the Stony Brook University community. Submit a help ticket through our service management system, or contact the student helpdesk.</p>
        <!-- <a class="default-button default-button__white noMarginLeft" href="http://service.stonybrook.edu">Submit A Ticket &raquo;</a> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="box-card no-border box-card__transparent-background" data-match-height="gettingStarted">
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading white">Client Support</h3>
              <h4 class="box-card--subheading white">service.stonybrook.edu</h4>
          </div>
          <div class="box-card--content white">
            For any technical related issue, you can contact Client Support by creating a support ticket. A member of the Client Support staff will be assigned to assist you with your needs.
          </div>
          <div class="box-card--cta">
            <a href="http://service.stonybrook.edu" class="panelGoogle-btn default-button button-large scrollto">Submit A Ticket &raquo;</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="box-card no-border box-card__transparent-background" data-match-height="gettingStarted">
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading white">Student Helpdesk</h3>
          </div>
          <div class="box-card--content white" >
            <p>Chat call or email the Student Helpdesk with issues related to Blackboard, SINC sites, or general questions about student technology services.</p>
            <p><span class="sbuicon-phone white"></span>631-632-9602</p>
            <p><span class="sbuicon-envelope-o white"></span>helpme@stonybrook.edu</p>
            <p><span class="sbuicon-bubbles white"></span><a href="http://a.velaro.com/visitor/requestchat.aspx?siteid=4625&showwhen=inqueue" class="white">Chat live &raquo;</a></p>
            <p><span class="sbuicon-facebook white"></span><a href="http://facebook.com/sincsites" class="white">SINC Sites Facebook &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-black cozy">
  <div class="container">
    <div class="row">
      <div class="display--flex">
        <div class="col-md-6">
          <h2 class="white">Win prizes by visiting DoIT's Student Technology table at the 2016 freshman orientation!</h2>
        </div>
        <div class="col-md-6">
          <div class="youtube-container">
            <div class="youtube-player" data-id="W0qgj29m1n0"></div>
            <p class="font-alt white">Watch this video to find out more about the prizes you can win.</p>
          </div>
        </div>
      </div>
    </div>
  <div>
</section>
<!-- ===========================================================================

** Slideout Panels Content **

These slideout panels are translated onto the screen when the appropriate article
card is selected.

============================================================================ -->


  <!-- =========================================================================
  SOLAR Slideout Panel
  ===========================================================================-->

  <div class="panelSOLAR slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
              <h3 class="heading heading-extra-large white noMarginBottom">SOLAR</h2>
              <a href="http://solar.stonybrook.edu" class="default-button default-button__white">solar.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#accessingsolar">Accessing SOLAR</a><br>
                    <a href="#register" class="scrollto">Register for Classes</a><br>
                    <a href="#pay" class="scrollto">Pay Your Bills</a><br>
                    <a href="#viewgrades" class="scrollto">View Your Grades</a><br>
                    <a href="#managenetid" class="scrollto">Manage NetID</a><br>
                    <a href="#sbalert" class="scrollto">SB Alert</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="register">
                  <h4 class="heading heading-small uppercase dark-gray">Accessing SOLAR</h4>
                  <p class="normal-text">
                    To access SOLAR visit <a href="http://solar.stonybrook.edu">solar.stonybrook.edu</a>. Use your 9-digit SOLAR ID and password to login.
                    If you are a student, your initial password is your birthday in MMDDYY format.
                    <br><br>
                    <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                    <a href="https://youtu.be/EUyujom0UaU?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Access SOLAR</a>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="register">
                  <h4 class="heading heading-small uppercase dark-gray">Register For Classes</h4>
                  <p class="normal-text">
                    In SOLAR you will be able to register for classes. You can use our new schedule builder tool that is integrated with SOLAR to help build your class schedule much quicker.
                    <br><br>
                    <a href="http://it.stonybrook.edu/node/24371">Learn More About Schedule Builder &raquo;</a>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="pay">
                  <h4 class="heading heading-small uppercase dark-gray">Pay Your Bills</h4>
                  <p class="normal-text">
                    In SOLAR you will be able to pay room deposits, tuition fees, and pay other bills. You will be notified via email if there is an outstanding financial obligation in your account.
                    <br><br>
                    <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                    <a href="https://youtu.be/ZxBivt_vAAE?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">What Do I Owe? / Pay Tuition and Fees</a>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="viewgrades">
                  <h4 class="heading heading-small uppercase dark-gray">View Your Grades</h4>
                  <p class="normal-text">
                    Final course grades are posted in SOLAR. You can view grades from current and past semesters.<br><br>
                    <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                    <a href="https://youtu.be/WjR8zig6WAY">View My Course History/Grades</a>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="managenetid">
                  <h4 class="heading heading-small uppercase dark-gray">Manage NetID</h4>
                  <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.<br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/sk8JFfw5F0o?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">View Your NetID / Where to Change NetID Password</a></p>
                </div>
                <hr>
                <div class="text-blurb" id="sbalert">
                  <h4 class="heading heading-small uppercase dark-gray">SB Alert</h4>
                  <p class="normal-text">SB Alert is the University's emergency notification system used to alert the campus community of major emergencies, immediate threats or impending situations that could pose harm, disrupt classes, impact facilities, activities, or other operations.
                    <br><br>
                    <a href="http://it.stonybrook.edu/node/6103">Configuring SB Alert &raquo;</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of SOLAR Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  WiFi Slideout Panel
  ===========================================================================-->

  <div class="panelWiFi slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">WolfieNet (Wi-Fi)</h2>
                  <a href="http://wolfienet.stonybrook.edu" class="default-button default-button__white">wolfienet.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#availablenetworks">Available Networks</a><br>
                    <a href="reportingwifiissues">Reporting Wi-Fi Issues</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="availablenetworks">
                  <h4 class="heading heading-small uppercase dark-gray">Available Networks</h4>
                  <p class="normal-text">
                    <strong>WolfieNet-Get-Connected</strong><br>
                    Use for the first time when connecting to WolfieNet. This option configures Wi-Fi enabled devices to use WolfieNet properly.<br><br>
                    <strong>WolfieNet-Secure</strong><br>
                    This is the recommended network that should be used on a day-to-day basis after successfully configuring your Wi-Fi devices through WolfieNet-Get-Connected.<br><br>
                    <strong>WolfieNet-Guest</strong><br>
                    To be used by visitors to the University who do not have a NetID. Users must authenticate and agree to the Wireless Internet Policy.<br><br>
                    <strong>WolfieNet-Open</strong><br>
                    Available only in residence halls for gaming systems. Do not use for academic work or transactions such as banking or online shopping.<br><br>
                    <strong>Eduroam</strong><br>
                    Eduroam allows students, researchers and staff from participating institutions to obtain Internet connectivity across campus and when visiting other participating institutions.<br>
                    <a href="http://it.stonybrook.edu/node/15191">Learn More About Eduroam &raquo;</a>
                    <br><br>
                    <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                    <a href="https://youtu.be/jNIimBjxMCc?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on iOS</a><br>
                    <a href="https://youtu.be/SXNF6At4iDw?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on Android</a><br>
                    <a href="https://youtu.be/cKtOzB6orXY?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on Windows</a><br>
                    <a href="https://youtu.be/FEBVUnHbSvY?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on MAC</a><br>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="reportingwifiissues">
                  <h4 class="heading heading-small uppercase dark-gray">Reporting WiFi Issues</h4>
                  <p class="normal-text">
                    If you are experiencing WiFi issues it is recommended that you log a support ticket with Client Support via <a href="http://service.stonybrook.edu">service.stonybrook.edu</a>.<br>
                    If you are unable to log a support ticket, call Client Support at (631) 632-9800.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of WiFi Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  NetID Slideout Panel
  ===========================================================================-->

  <div class="panelNetID slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">NetID</h2>
                  <a href="http://netid.stonybrook.edu" class="default-button default-button__white">netid.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#availablenetworks">What is my NetID?</a><br>
                    <a href="#netidservices">Services Accessed with NetID</a><br>
                    <a href="#netidtrouble">NetID Issues</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="availablenetworks">
                  <h4 class="heading heading-small uppercase dark-gray">What is my NetID?</h4>
                  <p class="normal-text">Every active employee, student, and faculty member is assigned a NetID which is used to access various computing resources.
                  <strong>The NetID and SOLAR ID are two different identifiers.</strong> To view your NetID, log in to <a href="http://solar.stonybrook.edu">SOLAR</a>, and select "NetID Maintenance".

                    <br><br>
                    <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                    <a href="https://youtu.be/sk8JFfw5F0o?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">View Your NetID / Where to Change NetID Password</a><br>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="netidtrouble">
                  <h4 class="heading heading-small uppercase dark-gray">Services Accessed with NetID</h4>
                    <ul class="bullets normal-text">
                      <li><a href="http://it.stonybrook.edu/node/894">Blackboard &raquo;</a></li>
                      <li><a href="http://sincsites.stonybrook.edu">SINC Site computers and printers &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/3037">Department Shared Folders &raquo;</a></li>
                      <li><a href="http://wifi.stonybrook.edu">Wi-Fi (WolfieNet) &raquo;</a></li>
                      <li><a href="http://google.stonybrook.edu">Google Apps for Education (Email, Calendar, Docs, etc.) &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/911">MySBfiles &raquo;</a></li>
                      <li><a href="http://yammer.stonybrook.edu">Yammer &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/6335">Qualtrics Online Survey Tool &raquo;</a></li>
                      <li><a href="http://you.stonybrook.edu">SB You WordPress &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/5454">Virtual SINC Site &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/916">Virtual Private Network (VPN) &raquo;</a></li>
                      <li><a href="https://och.stonybrook.edu/">Off-Campus Housing rental listings &raquo;</a></li>
                    </ul>
                </div>
                <hr>
                <div class="text-blurb" id="availablenetworks">
                  <h4 class="heading heading-small uppercase dark-gray">NetID Issues</h4>
                  <p class="normal-text">If you are having issues with your NetID and are unable to log a support ticket via <a href="http://services.stonybrook.edu">service.stonybrook.edu</a>, please call Client Support at (631) 632-9800.
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of NetID Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Printing Slideout Panel
  ===========================================================================-->

  <div class="panelPrinting slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">Printing</h2>
                  <a href="http://printing.stonybrook.edu" class="default-button default-button__white">printing.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#printquota">Print Quota</a><br>
                    <a href="#howtoprint">How to Print</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="printquota">
                  <h4 class="heading heading-small uppercase dark-gray">Print Quota</h4>
                  <p class="normal-text">
                    All registered Stony Brook students are provided with a semester long quota of 2100 black and white pages in the SINC Sites, Health Sciences Library, and Residential Computing Centers or by using the Print From Anywhere service.
                    <br><br>
                    <strong>Available Print Quota</strong><br>
                    To check your available print quota, log in to the <a href="https://print.stonybrook.edu/MyPrintCenter/">Print Center</a> with your NetID and NetID password.
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="howtoprint">
                  <h4 class="heading heading-small uppercase dark-gray">How to Print</h4>
                  <p class="normal-text">
                    <strong>SINC Sites</strong><br>
                    Send a print job directly to a printer located in a SINC site from a SINC Site computer. For a complete list of SINC site locations visit <a href="http://sincsites.stonybrook.edu">sincsites.stonybrook.edu</a>.<br><br>
                    <strong>Print From Anywhere</strong><br>
                    The Print From Anywhere service allows students to send print jobs to the SINC Site print queue from their own computers whether on campus or off campus. Students need to install the Print From Anywhere Client on their personal machine(s).
                    <br><br>
                    <a href="http://it.stonybrook.edu/node/5580">Learn More About Using Print From Anywhere &raquo;</a><br><br>
                    <strong>Email</strong><br>
                    Send an email with an attached document from your @stonybrook.edu address to printfromanywhere@stonybrook.edu. Use your Stony Brook ID card to release your job at one of our <a href="http://it.stonybrook.edu/node/5466">printing release stations</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Printing Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  SINC Sites Slideout Panel
  ===========================================================================-->

  <div class="panelSINC slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">SINC Sites</h2>
                  <a href="http://sincsites.stonybrook.edu" class="default-button default-button__white">sincsites.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#whatissincsite">What is a SINC Site?</a><br>
                    <a href="#sinclocations">SINC Site Locations</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="whatissincsite">
                  <h4 class="heading heading-small uppercase dark-gray">What is a SINC Site?</h4>
                  <p class="normal-text">
                    SINC Sites are public computer labs that allow users to access both Windows & Mac computers. SINC Sites provide printing services and access to numerous academic software titles. These computer labs are located in a majority of the academic buildings on campus and have scheduled open hours.
                    <br><br>
                    <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                     <a href="https://www.youtube.com/embed/_mrUSQjBz4k">SINC Site Promotional Video</a><br>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="sinclocations">
                  <h4 class="heading heading-small uppercase dark-gray">SINC Site Locations</h4>
                  <p class="normal-text">Visit <a href="http://sincsites.stonybrook.edu">sincsites.stonybrook.edu </a> for a full list of SINC Site locations,
                    or view the <a href="http://it.stonybrook.edu/services/computer-labs/map">Campus SINC Site Map</a>.
                  </p><br>
                  <p class="normal-text"><strong>Popular SINC Site Locations</strong>
                    <ul class="normal-text bullets">
                      <li><a href="http://it.stonybrook.edu/node/1573">Melville Library &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/1582">Computer Science &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/6689">North Reading Room &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/6775">Tabler Digital Arts Lab &raquo;</a></li>
                      <li><a href="http://it.stonybrook.edu/node/1589">Humanities &raquo;</a></li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of SINC Sites Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Hardware/Software Slideout Panel
  ===========================================================================-->

  <div class="panelHwSw slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">Software / Hardware</h2>
                    <a href="http://software.stonybrook.edu" class="default-button default-button__white">software.stonybrook.edu &raquo;</a></p>
                    <a href="http://hardware.stonybrook.edu" class="default-button default-button__white">hadware.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#software">Software</a><br>
                    <a href="#hardware">Hardware</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="software">
                  <h4 class="heading heading-small uppercase dark-gray">Software</h4>
                  <p class="normal-text">
                    The Division of Information Technology (DoIT) offers students free software, operating system upgrages, and antivirus software to ensure all students have the tools they need to be academically successful.<br>
                    <ul class="no-bullets normal-text">
                      <li><a href="http://it.stonybrook.edu/node/5402/">Free Microsoft Office Suite &raquo;</a></li>
                      <li><a href="https://stonybrook.onthehub.com/">Free Windows Operating System Upgrade &raquo;</a></li>
                      <li><a href="https://softweb.cc.stonybrook.edu/">Free Symantec Antivirus Software &raquo;</a></li>
                    </ul>
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="hardware">
                  <h4 class="heading heading-small uppercase dark-gray">Hardware</h4>
                  <p class="normal-text">
                    Students can recieve discounts on competitive brands like <strong>Apple</strong>, <strong>Dell</strong>, <strong>HP</strong>, and <strong>Lenovo</strong>.
                    <br><br>
                    <strong>Recommended Specifications</strong><br>
                    If purchasing a laptop/computer, DoIT reccommends the following specifications:
                    <ul class="no-bullets normal-text">
                      <li><strong>Processor:</strong> Core i5</li>
                      <li><strong>RAM:</strong> Minimum 4 GB</li>
                      <li><strong>Hard Drive:</strong> Minimum 250 GB</li>
                      <li><strong>Warranty:</strong> 3 years</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Hardaware/Software Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Mobile Charging Stations Slideout Panel
  ===========================================================================-->

  <div class="panelMBC slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">Mobile Charging Stations</h2>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#whatismcs">What is a Mobile Charging Station?</a><br>
                    <a href="#mcslocations">Mobile Charging Station Locations</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="whatismcs">
                  <h4 class="heading heading-small uppercase dark-gray">What is a Mobile Charging Station?</h4>
                  <p class="normal-text">
                    There are six free-standing mobile charging stations in Frey Hall and Javits Lecture Center this semester as part of the University’s Mobile/Digital Now initiative. This particular project is considered a pilot to test the usefulness of electrical power charging stations that students and other members of the campus community can use to plug their mobile devices into whenever batteries run low.
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="mcslocations">
                  <h4 class="heading heading-small uppercase dark-gray">Mobile Charging Station Locations</h4>
                    <ul class="normal-text bullets">
                      <li>Frey Hall Floors 1, 2, & 3</li>
                      <li>Javits Lecture Center (Main Lobby)</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Mobile Charging Stations Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Google Apps Slideout Panel
  ===========================================================================-->

  <div class="panelGoogle slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">Google Apps</h2>
                  <a href="http://google.stonybrook.edu" class="default-button default-button__white">google.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#googleapps">Google Apps</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="googleapps">
                  <h4 class="heading heading-small uppercase dark-gray">Your Email, calendar and collaboration Toolkit</h4>
                  <p class="normal-text">
                    <strong>Google Drive</strong><br>
                      Enjoy UNLIMITED storage in Google Drive. You can store all of your files in Google Drive and share with others.
                    <br><br>
                    <strong>Gmail</strong><br>
                    To easily access your @stonybrook.edu email address go to <a href="http://stonybrook.edu/mycloud">stonybrook.edu/mycloud</a>. All official University communications will be directed to your @stonybrook.edu email address.
                    <br><br>
                    <strong>Google Calendar</strong><br>
                    Google Calendar allows users to easily create, share, edit, and delete meeting invitations, calendar events, and tasks. These are easily accessed and synced between computers and mobile devices.
                    <br><br>
                    <strong>Google Hangouts</strong><br>
                    Google Hangouts, on the Stony Brook domain, allows for video conferencing and live screen sharing for up to 15 participants.
                    <br><br>
                    <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                     <a href="https://www.youtube.com/playlist?list=PL6Xrs39_KA2YqgzjceGMIWeqAImwbdeuJ">Google Apps Training Playlist by DoIT Training</a><br>
                  </p>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Google Apps Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Blackboard Slideout Panel
  ===========================================================================-->

  <div class="panelBlackboard slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">Blackboard</h2>
                  <a href="http://blackboard.stonybrook.edu" class="default-button default-button__white">blackboard.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#whatisblackboard">What is Blackboard?</a><br>
                    <a href="#accessingblackboard">Accessing Blackboard</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="whatisblackboard">
                  <h4 class="heading heading-small uppercase dark-gray">What is Blackboard?</h4>
                  <p class="normal-text">
                    Blackboard is Stony Brook University's learning management system (LMS), which allows instructors to supplement face-to-face classes, or launch online classes. Blackboard includes a variety of features that allow instructors to do anything from uploading course documents, to posting an announcement, to collecting and grading assignments. For students, Blackboard offers an easy way to contact instructors, download and access course documents, and check grades.
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="accessingblackboard">
                  <h4 class="heading heading-small uppercase dark-gray">Accessing Blackboard</h4>
                  <p class="normal-text">
                    <strong>Web Browser</strong><br>
                    From your browser, you can access Blackboard on a mobile device or desktop by heading to <a href="http://blackboard.stonybrook.edu">blackboard.stonybrook.edu</a>. You will use your NetID and NetID password to log in.
                    <br><br>
                    <strong>Blackboard Mobile App</strong><br>
                    You can access Blackboard on your mobile device by downloading the Blackboard Student App. Log in with your NetID and NetID password once the app is installed on your device.<br>
                    <ul class="normal-text bullets">
                      <li><a href="https://itunes.apple.com/us/app/bb-student-by-blackboard/id950424861?mt=8">iOS Devices &raquo;</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=com.blackboard.android.bbstudent&hl=en">Android Devices &raquo;</a></li>
                      <li><a href="https://www.microsoft.com/en-us/store/apps/bb-student/9nblggh08j8w">Windows Devices &raquo;</a></li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Blackboard Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  LYNDA.COM Slideout Panel
  ===========================================================================-->

  <div class="panelLynda slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
              <div class="row">
              <!-- SOLAR Conent ================================================ -->
              <div class="slideout-panel-content text-center">
                  <h3 class="heading heading-extra-large white noMarginBottom">Lynda.com</h2>
                  <a href="http://lynda.stonybrook.edu" class="default-button default-button__white">lynda.stonybrook.edu &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12 ">
                <div class="text-blurb">
                  <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                  <p class="normal-text">
                    <a href="#whatislynda">What is Lynda.com?</a><br>
                    <a href="#accessingblackboard">Accessing Lynda</a><br>
                  </p>
                </div>
                <hr class="hidden-lg">
              </div>
              <div class="col-md-9 col-sm-12 ">
                <div class="text-blurb" id="whatislynda">
                  <h4 class="heading heading-small uppercase dark-gray">What is Lynda.com?</h4>
                  <p class="normal-text">
                    Lynda.com is available to all Stony Brook University students, faculty and staff at no charge. With Lynda.com, you can learn new computer applications, design and business skills or brush up on some old skills at your own pace at a time and location that works best for you.
                  </p>
                </div>
                <hr>
                <div class="text-blurb" id="accessingblackboard">
                  <h4 class="heading heading-small uppercase dark-gray">Accessing Lynda</h4>
                  <p class="normal-text">
                    <strong>Web Browser</strong><br>
                    From your browser, you can access Lynda via your browser by heading to <a href="http://lynda.stonybrook.edu">lynda.stonybrook.edu</a>. You will use your NetID and NetID password to log in.
                    <br><br>
                    <strong>Lynda Mobile App</strong><br>
                    You can access Lynda on your mobile device by downloading the Lynda App. Log in with your NetID and NetID password once the app is installed on your device.<br>
                    <ul class="normal-text bullets">
                      <li><a href="https://itunes.apple.com/us/app/lynda-learn-new-skills-online/id356169777?mt=8">iOS Devices &raquo;</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=com.lynda.android.root&hl=en">Android Devices &raquo;</a></li>
                      <li><a href="https://www.microsoft.com/en-us/store/apps/lyndacom/9wzdncrdsd1w">Windows Devices &raquo;</a></li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of LYNDA.COM Slideout Panel
  ========================================================================== -->



<!-- ===========================================================================

  ** END of Slideout Panels Content **

============================================================================ -->



<!-- ===========================================================================

Slideout Panel Scripts

============================================================================ -->


<script>
    jQuery(document).ready(function($) {


        //open SOLAR panel
        $('.panelSOLAR-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSOLAR').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close SOLAR panel
        $('.panelSOLAR').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSOLAR').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open NetID panel
        $('.panelNetID-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelNetID').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close NetID panel
        $('.panelNetID').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelNetID').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open WiFi panel
        $('.panelWiFi-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelWiFi').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close WiFi panel
        $('.panelWiFi').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelWiFi').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Printing panel
        $('.panelPrinting-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelPrinting').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Printing panel
        $('.panelPrinting').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelPrinting').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open SINC Sites panel
        $('.panelSINC-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSINC').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close SINC panel
        $('.panelSINC').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSINC').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Hardware/Software panel
        $('.panelMBC-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelMBC').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Hardware/Software panel
        $('.panelMBC').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelMBC').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Mobile Charging Stations panel
        $('.panelHwSw-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelHwSw').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Mobile Charging Stations panel
        $('.panelHwSw').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelHwSw').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Google Apps panel
        $('.panelGoogle-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelGoogle').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Google Apps panel
        $('.panelGoogle').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelGoogle').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Blackboard panel
        $('.panelBlackboard-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelBlackboard').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Google Apps panel
        $('.panelBlackboard').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelBlackboard').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Lynda panel
        $('.panelLynda-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelLynda').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Lynda panel
        $('.panelLynda').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelLynda').removeClass('is-visible');
                $('body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

    });
</script>

<!-- ===========================================================================

Video header script

============================================================================ -->

<script>

  // Allows fullscreen option
  window.parent.document.querySelector('iframe').setAttribute('allowfullscreen',true);

  (function() {
    var v = document.getElementsByClassName("youtube-player");
    for (var n = 0; n < v.length; n++) {
        var p = document.createElement("div");
        p.innerHTML = orientationVideo(v[n].dataset.id);
        p.onclick = orientationVideoIframe;
        v[n].appendChild(p);
    }
  })();

  function orientationVideo(id) {
    return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
  }

  function orientationVideoIframe() {
    var iframe = document.createElement("iframe");
    iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=1&showinfo=1&");
    iframe.setAttribute("frameborder", "0");
    iframe.setAttribute("allowfullscreen", ""); // Allows fullscreen option
    iframe.setAttribute("id", "youtube-iframe");
    this.parentNode.replaceChild(iframe, this);
  }
</script>
