<div class="social-links">
    <h3>Connect with @SBUDoIT</h3>


        <a href="#" class="social-link social-link--facebook">
            <span class="sr-only">Facebook</span>
        </a>

        <a href="#" class="social-link social-link--twitter">
         	<span class="sr-only">Twitter</span>
        </a>

        <a href="#" class="social-link social-link--youtube">
         	<span class="sr-only">YouTube</span>
        </a>

        <a href="#" class="social-link social-link--flickr">
         	<span class="sr-only">Flickr</span>
        </a>

        <a href="#" class="social-link social-link--instagram">
        	<span class="sr-only">Instagram</span>
        </a>

        <a href="#" class="social-link social-link--yammer">
        	<span class="sr-only">Yammer</span>
        </a>
    </p>
</div>
