<section class="quick-nav">
  <div class="container disable-container-mobile">
    <div class="row no-margin-mobile">
      <div class="col-md-8 col-md-offset-4 no-padding-mobile">
        <div class="quick-nav--container">
          <ul class="horizontal-list quick-nav--list">
            <li class="quick-nav--list-item"><a href="#" class="quick-nav--link">Solar</a></li>
            <li class="quick-nav--list-item"><a href="#" class="quick-nav--link">Blackboard</a></li>
            <li class="quick-nav--list-item"><a href="#" class="quick-nav--link">Report Problem</a></li>
              <div class="quick-nav--search-container hidden-md hidden-sm hidden-xs">
        		    <form class="search-wrapper" action="http://stonybrook.edu/search">
          		    <input class="quick-nav--search-input" type="text" id="search-form-query1" name="q" title="Search" value="" class="populate" size="30" placeholder="Search This Site">
                    
                  <!-- <button name="submit" type="submit" class="btn" id="search-form-submit1" alt="Search" aria-label="search">
  	                <span class="sbuicon-search"></span>
                  </button> -->
                </form>
      	      </div>
            <li class="quick-nav--list-item hidden-lg"><a href="#" class="quick-nav--link">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
