<section id="top" class="fluffy hero-beyond display--flex gradient-overlay__TopRight">
  <div class="container">
    <div class="hero-beyond--headings">
      <h2 class="heading white">Blackboard</h2>
      <p class="introduction white">Blackboard is Stony Brook University's learning management system (LMS).</p>
    <a class="default-button button-large bg-black" href="#">Launch Blackboard</a>
  </div>
</section>

<section id="top" class="fluffy hero-beyond display--flex gradient-overlay__TopRight">
  <div class="container">
    <div class="row">
      <div class="display--flex">
        <div class="hidden-xs hidden-sm col-md-3">
            <div class="hero-beyond--logo">
            <img src="../../placeholders/images/logos/blackboard.png" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="hero-beyond--headings">
            <h2 class="heading white">Blackboard</h2>
            <p class="introduction white">Blackboard is Stony Brook University's learning management system (LMS).</p>
          <a class="default-button button-large bg-black" href="#">Launch Blackboard</a>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">

  <div class="container">

    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-nav-fixedbar"></span>
      </button>
    </div>

    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">
      <ul class="nav navbar--fixed__links main-nav">
        <li><a href="#blackboardBasics" class="fixedNavLink scrollto">Blackboard Basics</a></li>
        <li><a href="#studentGuide" class="fixedNavLink scrollto">For Students</a></li>
        <li><a href="#instructorGuide" class="fixedNavLink scrollto">For Instructors</a></li>
        <li><a href="#FAQ" class="fixedNavLink scrollto">Frequently Asked Questions</a></li>
        <li><a href="#gettingHelp" class="fixedNavLink scrollto">Getting Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="blackboardBasics" class="cozy bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading"><strong>Blackboard Basics</strong></h2>
      </div>

      <div class="col-md-6">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Logging In</h3>
          </div>
          <div class="simple-blurb-card--text" data-match-height="blurb-card--content">
            <p>To log into Blackboard, go to blackboard.stonybrook.edu in your web browser. (NOTE: no “www” in this address.)</p>
            <p>In the Have an account? box, enter your NetID and NetID password in the respective fields.</p>
            <p>Once you have entered your credentials, click Login.</p>
          </div>
          <div class="simple-blurb-card--cta">
            <a href="#" class="default-button scrollto">Launch Blackboard &raquo;</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Blackboard Mobile</h3>
          </div>
          <div class="simple-blurb-card--text" data-match-height="blurb-card--content">
            <p>Instructions for Setting Up the Blackboard Learn App on your SmartPhone:</p>
            <p><a href="#" class="arrow-link">iPhone & iPod Touch</a></p>
            <p><a href="#" class="arrow-link">iPad </a></p>
            <p><a href="#" class="arrow-link">Android Devices</a></p>
            <p><a href="#" class="arrow-link">Blackberry Devices</a></p>
            <p><a href="#" class="arrow-link">Palm Devices</a></p>
          </div>
          <div class="simple-blurb-card--cta">
            <a href="#" class="default-button scrollto arrow-link">Need Assistance?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider">
  <div class="container">
    <hr class="divider-gray">
  </div>
</section>

<section id="studentGuide" class="cozy bg-white3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading"><strong>Blackboard for Students</strong></h2>
        <p class="introduction">
Blackboard is a web-based course management system that is used as a tool to deliver a course completely online and/or to supplement face-to-face classes.  Blackboard is available to all Stony Brook University students 24/7, from any computer with Internet access.</p>
      </div>

      <div class="col-md-4">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Students Blackboard Use</h3>
          </div>
          <div class="simple-blurb-card--text" data-match-height="blurb-card--content">
            <ul>
              <li>Viewing course documents (ex: syllabi, handouts, presentations, etc...)</li>
              <li>Submitting course assignments</li>
              <li>Send emails to instructors or other students</li>
              <li>Posting threads to online discussions</li>
              <li>Viewing grades</li>
              <li>Taking online exams</li>
              <li>Participating in group projects</li>
            </ul>
            <p><strong>And much more...</strong></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Student Blackboard Support</h3>
          </div>
          <div class="simple-blurb-card--text">
            <p>Students that need help with Blackboard can contact Teaching, Learning & Technology directly via, phone email, and live chat.</p>
            <p><a href="#">(631) 632-9602</a></p>
            <p><a href="#">helpme@stonybrook.edu</a></p>
            <p><a href="#">Live Chat!</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Student FAQs</h3>
          </div>
          <div class="simple-blurb-card--text">
            <ul class="no-bullets">
              <li><a href="#">Why can't I change my email in Blackboard? &raquo;</a></li>
              <li><a href="#">What are the technical requirements and compatible browsers for Blackboard? &raquo;</a></li>
              <li><a href="#"> How do I hide or rearrange courses in Blackboard? &raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider">
  <div class="container">
    <hr class="divider-gray">
  </div>
</section>

<section id="instructorGuide" class="cozy bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading"><strong>Blackboard For Instructors</strong></h2>
      </div>

      <div class="col-md-4">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Instructor Use</h3>
          </div>
          <div class="simple-blurb-card--text" data-match-height="blurb-card--content">
            <ul>
            <li>Post online announcements</li>
            <li>Post course content (ex: syllabi, handouts, presentations, etc...)</li>
            <li>Send emails to students</li>
            <li>Pose questions for online discussions</li>
            <li>Collect and grade assignments/assessments</li>
            <li>Manage your grades and/or make them visible to you</li>
            <li>Create groups for discussions and projects</li>
            <p><strong>And much more...</strong></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Course Setup</h3>
          </div>
          <div class="simple-blurb-card--text" data-match-height="blurb-card--content">
            <ul class="no-bullets">
              <li><a href="http://it.stonybrook.edu/services/blackboard/navigate-manage">Navigate/Manage Your Course &raquo;</a></li>
              <li><a href="http://it.stonybrook.edu/services/blackboard/course-content">Manage Course Content &raquo;</a></li>
              <li><a href="#">Creating Assignments &raquo;</a></li>
              <li><a href="http://it.stonybrook.edu/services/blackboard/discussion-board">Discussion Board &raquo;</a></li>
              <li><a href="http://it.stonybrook.edu/services/blackboard/communication">Communication &raquo;</a></li>
              <li><a href="http://it.stonybrook.edu/services/blackboard/grades-and-grading">Grading &raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="simple-blurb-card" data-match-height="blackboardBasics">
          <div>
              <h3 class="simple-blurb-card--heading">Instructor Support</h3>
          </div>
          <div class="simple-blurb-card--text" data-match-height="blurb-card--content">
            <p>Instructors that need help with Blackboard can contact Teaching, Learning & Technology directly via phone or email.</p>
            <p><a href="#">(631) 632-2777</a></p>
            <p><a href="#">blackboard@stonybrook.edu</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="FAQ" class="fluffy hero-beyond__white bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2 class="heading red">Frequently Asked Questions</h2>
        <p class="introduction">Search through our knowledge base articles for commonly asked questions about this service.</p>
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="How do I download the Blackboard Learn App?" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg bg-red" type="button">
                <i class="sbuicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="drop-accordion-card">
          <div class="drop-accordion-card--tab">
            <div class="display--flex-mobile">
              <span class="drop-accordion-card--icon sbuicon-angle-down"></span>
              <span class="drop-accordion-card--headline">{{headline.medium}}</span>
            </div>
          </div>
          <div class="drop-accordion-card--content-wrap hide-accessible">
            <div class="drop-accordion-card--content">
              {{{paragraph.double}}} {{# cta }}
              <div class="simple-blurb--cta">
                  <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
              </div>
              {{/ cta }}
            </div>
          </div>
        </div>
        <div class="drop-accordion-card">
          <div class="drop-accordion-card--tab">
            <div class="display--flex-mobile">
              <span class="drop-accordion-card--icon sbuicon-angle-down"></span>
              <span class="drop-accordion-card--headline">{{headline.medium}}</span>
            </div>
          </div>
          <div class="drop-accordion-card--content-wrap hide-accessible">
            <div class="drop-accordion-card--content">
              {{{paragraph.double}}} {{# cta }}
              <div class="simple-blurb--cta">
                  <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
              </div>
              {{/ cta }}
            </div>
          </div>
        </div>
        <div class="drop-accordion-card">
          <div class="drop-accordion-card--tab">
            <div class="display--flex-mobile">
              <span class="drop-accordion-card--icon sbuicon-angle-down"></span>
              <span class="drop-accordion-card--headline">{{headline.medium}}</span>
            </div>
          </div>
          <div class="drop-accordion-card--content-wrap hide-accessible">
            <div class="drop-accordion-card--content">
              {{{paragraph.double}}} {{# cta }}
              <div class="simple-blurb--cta">
                  <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
              </div>
              {{/ cta }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gettingHelp" class="fluffy hero-beyond gradient-overlay__TopRight">
  <div class="container">
    <div class="row display--flex">
      <div class="col-md-5">
        <h2 class="heading white">Getting Help</h2>
        <p class="introduction white">The Division of Information Technology provides support on all of our services. If you require assistance please submit a support ticket thought the IT Service Management system. </p>
          <a class="default-button button-large bg-black" href="#">Submit A Ticket</a>
      </div>
      <div class="col-sm-12 col-md-7">
        <h3 class="subheading white">Additional support for this service</h3>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title font-alt">
                Academic Technology Services
              </h4>
            </div>
            <div class="panel-body">
              <p></p>
              <ul class="no-bullets">
                <li><a class="sbuicon-envelope" href="mailto:tlt@stonybrook.edu">tlt@stonybrook.edu</a></li>
                <li><span class="sbuicon-phone">(631) 632-2777</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="shield-footer fluffy">
    <div class="container">
        <div class="row">

            {{# listItems.four }}
                <div class="col-md-3">
                    {{> molecules-footer-nav }}
                </div>
            {{/ listItems.four }}
        </div>
        <div class="row">

            {{# listItems.three }}
                <div class="col-md-3">
                    {{> molecules-footer-nav }}
                </div>
            {{/ listItems.three }}
        </div>
    </div>
</div>
