
<div class="bold-moves-box" style="background-image: url('{{img.square.src}}')">
	<a href="{{url}}" class="bold-moves-box--title">
		<h3>{{headline.short}}</h3>
	</a>
	<a href="{{url}}" class="bold-moves-box--story">
		<p>{{excerpt.medium}}</p>
		<span class="bold-moves-box--fullStory">Read Story</span>

	</a>
</div>
