<a class="rounded-image-button" href="{{url}}" style="background-image: url('../../placeholders/images/students-walking.jpg')">
	<span class="rounded-image-button--label">{{headline.short}}</span>
</a>
