<section>

<div class="container-fluid">

    <div class="row position-relative">

        <div class="hidden-xs col-md-6 background-image-card" data-background="{{img.landscape-16x9.src}}" style="background-image: url('{{img.landscape-16x9.src}}');"></div>

        <div class="col-xs-12 col-md-6 col-md-offset-6">

            {{> molecules-simple-blurb }}
            {{> molecules-simple-blurb }}

          </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid">

    <div class="row position-relative">

        <div class="hidden-xs col-md-6 col-md-offset-6 background-image-card" data-background="{{img.landscape-16x9.src}}" style="background-image: url('{{img.landscape-16x9.src}}');"></div>

        <div class="col-xs-12 col-md-3">

            {{> molecules-simple-blurb }}


          </div>
          <div class="col-xs-12 col-md-3">

              {{> molecules-simple-blurb }}


            </div>
    </div>
</div>
</section>

<section>
<div class="container">

    <div class="row position-relative">

        <div class="hidden-xs col-md-6 background-image-card" data-background="{{img.landscape-16x9.src}}" style="background-image: url('{{img.landscape-16x9.src}}');"></div>

        <div class="col-xs-12 col-md-6 col-md-offset-6">

            {{> molecules-simple-blurb }}
            {{> molecules-simple-blurb }}

          </div>
    </div>
</div>
</section>

<section>

<div class="container">

    <div class="row position-relative">

        <div class="hidden-xs col-md-6 col-md-offset-6 background-image-card" data-background="{{img.landscape-16x9.src}}" style="background-image: url('{{img.landscape-16x9.src}}');"></div>

        <div class="col-xs-12 col-md-6">

            {{> molecules-simple-blurb }}
            {{> molecules-simple-blurb }}

          </div>
    </div>
</div>
</section>
