<section class="hero-far-beyond gradient-overlay__topLeft" style="background-image:url('../../images/backgrounds/farbeyond-stripes/redSwooshes.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="hero-far-beyond--content">
            <h1 class="hero-far-beyond--heading">
              Best In Class
              Services
            </h1>
            <p class="hero-far-beyond--text">
            DoIT takes you far beyond with best in class services and support.
            </p>
            <a href="#" class="hero-far-beyond--button">Read The Story <span class="hero-far-beyond--icon sbuicon-long-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
</section>
