<div class="main-site-nav-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xs-11 col-xs-push-1 col-md-push-0 main-site-nav-cols">
        <div class="main-site-nav">
          <ul class="hide-accessible-mobile-960">
            <li class="first"><a href="/" title="Home" class="active">Home</a></li>
            <li class=""><a href="/news" title="">News</a></li>
            <li class=""><a href="/events/home">Events</a></li>
            <li class="expanded"><a href="/services/catalog/a-z/all" title="">Services<span class="open-sub" role="button" tabindex="0" aria-label="Show sub navigation"><em class="sbuicon-menu7"></em></span></a>
              <ul class="hide-accessible-mobile-960">
                  <li class="first"><a href="/services/catalog/a-z/all" title="">Services A-Z</a></li>
                  <li class=""><a href="/services/catalog/category" title="">Services By Category</a></li>
                  <li class=""><a href="/status" title="">System Status</a></li>
                  <li class="last"><a href="/services/it-guides">IT Guides</a></li>
              </ul>
            </li>
            <li class=""><a href="/about-us">CIO</a></li>
            <li class=""><a href="/projects" title="">Projects</a></li>
            <li class="last"><a href="/help">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
