<section class="quick-nav-stripes">
  <div class="container disable-container-mobile">
    <div class="row no-margin-mobile">
      <div class="col-md-8 col-md-offset-4 no-padding-mobile">
        <div class="quick-nav-stripes--container">
          <ul class="horizontal-list quick-nav-stripes--list">
            <li class="quick-nav-stripes--list-item"><a href="#" class="quick-nav-stripes--link">Solar</a></li>
            <li class="quick-nav-stripes--list-item"><a href="#" class="quick-nav-stripes--link">Blackboard</a></li>
            <li class="quick-nav-stripes--list-item"><a href="#" class="quick-nav-stripes--link">Report Problem</a></li>
              <div class="quick-nav-stripes--search-container hidden-md hidden-sm hidden-xs">
        		    <form class="search-wrapper" action="http://stonybrook.edu/search">
          		    <input class="quick-nav-stripes--search-input" type="text" id="search-form-query1" name="q" title="Search" value="" class="populate" size="20" placeholder="Search...">
                    <button class="quick-nav-stripes--search-button" name="submit" type="submit" id="search-form-submit1" alt="Do search">
		                      <span class="sr-only">Search</span><i class="sbuicon-search"></i>
		            </button>
                  <!-- <button name="submit" type="submit" class="btn" id="search-form-submit1" alt="Search" aria-label="search">
  	                <span class="sbuicon-search"></span>
                  </button> -->
                </form>
      	      </div>
            <li class="quick-nav-stripes--list-item hidden-lg"><a href="#" class="quick-nav-stripes--link">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
