<p>This follows bootstraps pagination</p>
<p>Would prefer a method of setting active/disabled that followed bem syntax i.e. pagination--item__active and pagination--item__disabled</p>
<ol class="pagination">
 	<li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	<li class="active"><a href="{{ url }}">1</a></li>
	<li class="disabled"><a href="{{ url }}">2</a></li>
	<li><a href="{{ url }}">3</a></li>
	<li><a href="{{ url }}">4</a></li>
	<li><a href="{{ url }}">5</a></li>
	<li><a href="{{ url }}">6</a></li>
	<li><a href="{{ url }}">7</a></li>
	<li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
</ol>