<p>
    Preferred sizes for 16x9 images.
</p>
            <img src="../../placeholders/images/sbu/sac-1600x900.jpg" /><br />

            <img src="../../placeholders/images/sbu/sac-800x450.jpg" /><br />
            <img src="../../placeholders/images/sbu/sac-640x360.jpg" /><br />


            <img class="allow-spill" src="../../placeholders/images/sbu/sac-1600x900.jpg" /><br />
