<p>
    Preferred sizes for Square images.
</p>
            <img src="../../placeholders/images/sbu/sac-1200x1200.jpg" /><br />
            <img src="../../placeholders/images/sbu/sac-800x800.jpg" /><br />
            <img src="../../placeholders/images/sbu/sac-640x640.jpg" /><br />
