
    <p>Heading Groups Occasionally you may want a heading tag to be sized differently, we provide the following heading modifier classes</p>
<div class="hgroup">

   	<h2>This is the heading group's main heading</h2>
   	<h3>This is the heading group's subheading</h3>
</div>
