
	<p><strong>Normal Paragraphs: </strong> {{excerpt.medium}}</p>


<p class="introduction"><strong>Introduction Text</strong>: {{ excerpt.medium }}</p>

<p class="lead"><strong>Lead</strong>: {{excerpt.medium}}</p>

<p class="caps"><strong>Caps Text</strong>: {{ excerpt.medium }}</p>

<p class="proper-case"><strong>Proper Case</strong>: {{ excerpt.medium }}</p>

<p class="serif"><strong>Serif</strong>: {{ excerpt.medium }}</p>

<p class="serif-italic"><strong>Serif Italic</strong>: {{ excerpt.medium }}</p>

<p class="less-spacing"><strong>Less Spacing</strong>: {{ excerpt.medium }}</p>

<p class="sub-text"><strong>Sub Text</strong>: {{ excerpt.medium }}</p>

<p class="sbu-3d-shadow"><strong>SBU 3d Shadow</strong>: {{ excerpt.medium }}</p>

<p class="sbu-text-shadow"><strong>sbu-text-shadow</strong>: {{ excerpt.medium }}</p>

<p class="font-alt"><strong>Font Alt</strong>: {{ excerpt.medium }}</p>
<p class="font-alt-medium"><strong>Font Alt Medium</strong>: {{ excerpt.medium }}</p>

	<h3 class="content-header">Contextual Text</h3>

	<p class="text-muted"><strong>Text Muted</strong>: {{ excerpt.medium }}</p>
	<p class="text-primary"><strong>Text Primary</strong>: {{ excerpt.medium }}</p>
	<p class="text-success"><strong>Text Success</strong>: {{ excerpt.medium }}</p>
	<p class="text-info"><strong>Text Info</strong>: {{ excerpt.medium }}</p>
	<p class="text-warning"><strong>Text Warning</strong>: {{ excerpt.medium }}</p>
	<p class="text-danger"><strong>Text Danger</strong>: {{ excerpt.medium }}</p>

<p class="bg-primary"><strong>BG Primary</strong>: {{ excerpt.medium }}</p>
<p class="bg-success"><strong>BG Success</strong>: {{ excerpt.medium }}</p>
<p class="bg-info"><strong>BG Info</strong>: {{ excerpt.medium }}</p>
<p class="bg-warning"><strong>BG Warning</strong>: {{ excerpt.medium }}</p>
<p class="bg-danger"><strong>BG Danger</strong>: {{ excerpt.medium }}</p>

<h3 class="content-header">Boot Strap Alignments</h3>
<p class="text-left"><strong>Text Left</strong>: {{ excerpt.medium }}</p>
<p class="text-center"><strong>Text Centered</strong>: {{ excerpt.medium }}</p>
<p class="text-right"><strong>Text Right</strong>: {{ excerpt.medium }}</p>
<p class="text-justify"><strong>Text Justify</strong>: {{ excerpt.long }}</p>
<p class="text-nowrap"><strong>No Wrap</strong>: {{ excerpt.medium }}</p>
