

<p>
<a href="{{url}}">Link Text</a>
</p>

<p>
<a class="arrow-link" href="{{url}}">Arrow Link</a>
</p>

<p>
<a class="dashed-link" href="{{url}}">Dashed Link</a>
</p>

<p>
<a class="ellipsis-link" href="{{url}}">Ellipsis Link</a>
</p>

<p class="alert-info alert">
    The <code>.file-link</code> and <code>.file-link-before</code> classes use the file extension from the href to determine which icon to use. Currently only pdf, doc, docx, xls, xlsx, ppt, pptx are supported
</p>

<p>
<a class="file-link" href="{{url}}.pdf">File Link to PDF</a>
</p>

<p>
<a class="file-link" href="{{url}}.xls">File Link to XLS/XLSX</a>
</p>

<p>
<a class="file-link" href="{{url}}.doc">File Link to DOC/DOCX</a>
</p>

<p>
<a class="file-link" href="{{url}}.xls">File Link to PPT/PPTX</a>
</p>

<p>
<a class="file-link-before" href="{{url}}.pdf">File Link to PDF</a>
</p>

<p>
<a class="file-link-before" href="{{url}}.xls">File Link to XLS/XLSX</a>
</p>

<p>
<a class="file-link-before" href="{{url}}.doc">File Link to DOC/DOCX</a>
</p>

<p>
<a class="file-link-before" href="{{url}}.xls">File Link to PPT/PPTX</a>
</p>

<p class="alert-info alert">
    Links can be affected by color classes <code>.black</code> and <code>.emerald</code>
</p>

<p>
<a class="black" href="{{url}}">Black Link Text</a>
</p>

<p>
<a class="emerald" href="{{url}}">Emerald Link Text</a>
</p>
