<section class="hero-beyond">
  <div class="container">
    <div class="hero-beyond--headings">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1 class="hero-beyond--heading">Become a Seawolf</h1>
      		<h2 class="hero-beyond--subheading">Want to change the great big world? So do we. Join our community of explorers.</h2>
        </div>
      </div>
    </div>
    {{# showbuttons }}
    <div class="hero-beyond--buttons">
      <div class="row">
        {{# buttons }}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a class="tuxedo-button" href="{{url}}">{{headline.x-small}}</a>
          </div>
        {{/ buttons }}
      </div>
    </div>
    {{/ showbuttons }}
  </div>
</section>
