
    <a class="farbeyond-event-button" href="{{url}}">
        <div class="farbeyond-event-button--date"><span class="farbeyond-event-button--day">{{day.short}}</span><span class="farbeyond-event-button--month">{{month.short}}</span></div>
        <div class="farbeyond-event-button--title">{{headline.short}}</div>
    </a>
