

<div class="event-stamp-button">
   <div class="display--flex-mobile">
     <div class="event-stamp-button--date" data-match-height="event-stamp-button">
       <time datetime="2016-09-01">
         <span class="event-stamp-button--month">SEPT</span>
         <span class="event-stamp-button--day">01</span>
       </time>
     </div>
     <div class="event-stamp-button--text">
       <a href="#">Mini Byte: New to Mac</a>
     </div>
   </div>
 </div>
