<a class="circle-band-button{{ size }}" href="#" style="background-image: url('{{ img.square.src }}')">
    <span class="circle-band-button--label">Main Campus</span>
</a>
<!--
Alternatively can use div, but why?
<div class="circle-band-button" style="background-image: url('{{ img.square.src }}')">
    <span class="circle-band-button--label">Main Campus</span>
</div>-->
