<div class="alert alert-info">
    <p>Polaroid Buttons will take the dimensions of their container</p>
</div>

<div class="container">
    <div class="row">

        {{# listItems.three }}
            <div class="col-sm-12 col-md-6 col-lg-4">
                    {{> molecules-polaroid-button }}
            </div>
        {{/ listItems.three }}

    </div>
</div>