
    <ul class="vertical-timeline">
        
        {{# listItems.three }}

        <li>
            <div class="vertical-timeline--item-icon"><i class="{{icon}}"></i></div>
            <div class="vertical-timeline--item-content-wrap">
                <h4 class="vertical-timeline--item-heading">{{headline.short}}</h4>
                <div class="vertical-timeline--item-content">
                    {{{paragraph.double}}}
                </div>
            </div>
        </li>
        {{/ listItems.three }}  
    </ul>
