<section class="sbu-hero bg-asphalt" id="news">
  <ul class="sbu-hero-slider autoplay">



     <li id="section-16426" class="overlay-gray is-moving move-left">
      <div class="sbu-full-width">
        <div class="container">




          <div class="col-md-12 no-padding">
              <h2 class="sbu-hero-title">SBU Video Production Group Honored at the 37th Annual Telly Awards</h2>
              <div class="sbu-hero-content"><p>Takes home four awards including top silver award for Lab Safety video.</p>
</div>




                    <a data-match-height="hero-buttons" class="sbu-btn" href="https://it.stonybrook.edu/news/articles/sbu-video-production-group-honored-at-the-37th-annual-telly-awards" style="">Continue Reading</a>


          </div>




</div>
      </div>
    </li>



     <li id="section-16311" class="overlay-gray is-moving move-left">
      <div class="sbu-full-width">
        <div class="container">




          <div class="col-md-12 no-padding">
              <h2 class="sbu-hero-title">Nappi Named Interim Chief Information Security Officer</h2>
              <div class="sbu-hero-content"><p>Matthew Nappi assumed&nbsp;the position of Interim Chief Information Security Officer (CISO) at Stony Brook University on June 20, 2016.</p>
</div>




                    <a data-match-height="hero-buttons" class="sbu-btn" href="http://it.stonybrook.edu/news/articles/nappi-named-interim-chief-information-security-officer-ciso-doesschate-to-lead-it" style="">Continue Reading</a>


          </div>




</div>
      </div>
    </li>



     <li id="section-16551" class="overlay-gray move-left">
      <div class="sbu-full-width">
        <div class="container">




          <div class="col-md-12 no-padding">
              <h2 class="sbu-hero-title">Research Your Next Tech Idea or Purchase with Gartner Campus Access</h2>
              <div class="sbu-hero-content"><p>Gartner is a leading information technology firm that provides research and analysis services to inform and support decision making in higher education and other industry sectors.</p>
</div>




                    <a data-match-height="hero-buttons" class="sbu-btn" href="http://it.stonybrook.edu/services/gartner-campus-access" style="">Learn More</a>


          </div>




</div>
      </div>
    </li>






  </ul> <!-- .sbu-hero-slider -->





  <div class="sbu-slider-nav">
    <nav>
      <span class="sbu-marker item-5"></span>

      <ul>

                <li class=""><a href="#section-16426">•</a></li>


                <li class=""><a href="#section-16311">•</a></li>


                <li class=""><a href="#section-16551">•</a></li>



      </ul>
    </nav>
  </div> <!-- .sbu-slider-nav -->
</section>
