<div class="container">
    <div class="row">

    {{# listItems.three }}
        <div class="col-sm-12 col-md-6 col-lg-12">
                {{> molecules-drop-accordion-card() }}
        </div>
    {{/ listItems.three }}

    </div>



    <div class="row">


    

        {{# listItems.four }}
        
            <div class="col-sm-12 col-md-6 col-lg-6">
                    {{> molecules-drop-accordion-card() }}
            </div>
        
        {{/ listItems.four }}


    

    </div>
</div>