<div class="stat-card">
{{# showicon }}
<span class="stat-card--icon {{icon}}"></span><br />
{{/ showicon }}

{{# showimg }}
<img class="simple-blurb-card--image" src="{{img.landscape-16x9.src}}" />
{{/ showimg }}

<h3 class="stat-card--heading"><span class="count-to" countto="{{stat.number}}">{{stat.number}}</span></h3>
<strong class="stat-card--subheading">{{headline.short}}</strong>


<div class="stat-card--text">
    {{{paragraph.medium}}}
</div>

</div>
