<div class="event-card" data-match-height="event-card">

  <div class="event-card--heading" data-match-height="event-card--heading-wrap">
      <a class="event-card--heading-link" href="{{url}}">{{headline.short}}</a>
  </div>
  <div class="event-card--content" data-match-height="event-card--content">

    {{# location }}
    <div class="event-card--map">
      <a href="{{url}}">{{location}}</a>
    </div>
    {{/ location }}
    {{# audience }}
    <div class="event-card--audience">
            {{audience}}
    </div>
    {{/ audience }}

    <div class="event-card--date-time">
      {{month.long}} {{day.short}}{{day.ordinal}}, {{year.long}} {{hour.short}}:{{minute.long}} {{hour.ampm }}
    </div>

    </div>
    <!-- <div class="event-card--register" data-match-height="event-card--register">

      <a class="event-card--button event-card--registration-button" href="{{url}}">Register</a>
      <a class="event-card--button event-card--add-to-cal-button" href="#">Add To Calendar</a>

    </div> -->
  </div>
