
        <h1>Primary Fonts</h1>

        <h2 class="red">Effra <small>(Entire Font Family)</small></h2>
        <span class="label red">Style:</span> Heavy<br />
        <span class="label red">Usage:</span> Headlines, Call-outs, FAR BEYOND language for emphasis, names, titles<br />
        <span class="label red">Case:</span> Caps<br />

        <h1 class="font-default--heavy">Heavy</h1>
        <h1 class="font-default--heavy">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-default--heavy">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-default--heavy">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-default--heavy">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-default--heavy">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-default--heavy">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-default--heavy">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-default--heavy">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-default--heavy">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-default--heavy">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-default--heavy">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-default--heavy">abcdefghijklmnopqstuvwxyz</h6>

        <br />
        <span class="label red">Style:</span> Medium, Medium Italic, Regular, Regular Italic, Light, Light Italic<br />
        <span class="label red">Usage:</span> Body copy, sub-headlines<br />
        <span class="label red">Case:</span> Sentence case, title case<br />

        <h1 class="font-default--medium">Medium</h1>
        <h1 class="font-default--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-default--medium">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-default--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-default--medium">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-default--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-default--medium">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-default--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-default--medium">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-default--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-default--medium">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-default--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-default--medium">abcdefghijklmnopqstuvwxyz</h6>

        <h1 class="font-default--medium italic">Medium Italic</h1>
        <h1 class="font-default--medium italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-default--medium italic">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-default--medium italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-default--medium italic">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-default--medium italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-default--medium italic">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-default--medium italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-default--medium italic">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-default--medium italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-default--medium italic">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-default--medium italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-default--medium italic">abcdefghijklmnopqstuvwxyz</h6>

        <h1 class="font-default">Regular</h1>
        <h1 class="font-default">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-default">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-default">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-default">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-default">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-default">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-default">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-default">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-default">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-default">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-default">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-default">abcdefghijklmnopqstuvwxyz</h6>

        <h1 class="font-default italic">Regular Italic</h1>
        <h1 class="font-default italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-default italic">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-default italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-default italic">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-default italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-default italic">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-default italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-default italic">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-default italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-default italic">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-default italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-default italic">abcdefghijklmnopqstuvwxyz</h6>

        <h1 class="font-default--light">Light</h1>
        <h1 class="font-default--light">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-default--light">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-default--light">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-default--light">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-default--light">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-default--light">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-default--light">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-default--light">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-default--light">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-default--light">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-default--light">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-default--light">abcdefghijklmnopqstuvwxyz</h6>

        <h1 class="font-default--light italic">Light Italic</h1>
        <h1 class="font-default--light italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-default--light italic">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-default--light italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-default--light italic">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-default--light italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-default--light italic">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-default--light italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-default--light italic">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-default--light italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-default--light italic">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-default--light italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-default--light italic">abcdefghijklmnopqstuvwxyz</h6>


        <span class="label red">CSS Declaration:</span> Effra W01, sans-serif<br />

        <h2 class="font-primary-alt red">Museo Slab <small>(Entire Font Family)</small></h2>
        <h1 class="font-alt">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1 class="font-alt">abcdefghijklmnopqstuvwxyz</h1>
        <h2 class="font-alt">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2 class="font-alt">abcdefghijklmnopqstuvwxyz</h2>
        <h3 class="font-alt">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
        <h3 class="font-alt">abcdefghijklmnopqstuvwxyz</h3>
        <h4 class="font-alt">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
        <h4 class="font-alt">abcdefghijklmnopqstuvwxyz</h4>
        <h5 class="font-alt">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h5>
        <h5 class="font-alt">abcdefghijklmnopqstuvwxyz</h5>
        <h6 class="font-alt">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>
        <h6 class="font-alt">abcdefghijklmnopqstuvwxyz</h6>
        <span class="label red">Style:</span> 100,100 Italic or 300,300 Italic<br />
        <span class="label red">Usage:</span> Headlines, sub-headlines, quotes<br />
        <span class="label red">Case:</span> Caps, sentence case, title case<br />
        <br />
        <span class="label red">Style:</span> 900<br />
        <span class="label red">Usage:</span> Headlines, to emphasize single words, names and titles in small type sizes, referencing classes and certain projects<br />
        <span class="label red">Case:</span> Caps<br />
        <span class="label red">Style:</span> 300, 300 Italic<br />500,500 Italic, 700,700 Italic<br />
        <span class="label red">Usage:</span> Headlines, body copy, numbers, credits<br />
        <span class="label red">Case:</span> Sentence case, title case<br />

        <span class="label red">CSS Declaration:</span> ???<br />

        <h2 class="content-header">Secondary Fonts</h2>
        <p>
          Despite there being a listing of secondary fonts on the branding site, these fonts are unavailable through our published fonts.com project. So are unavailble for use at this time.
        </p>
