

               <h3 class="content-header heading-annotation">Standard Headings:</h3>
                    <h1>This is an h1 <small>Small text in h1</small></h1>
                    <h2>This is an h2 <small>Small text in h2</small></h2>
                    <h3>This is an h3 <small>Small text in h3</small></h3>
                    <h4>This is an h4 <small>Small text in h4</small></h4>
                    <h5>This is an h5 <small>Small text in h5</small></h5>
                <h3 class="content-header">Size Modifiers</h3>
                    <p>Occasionally you may want a heading tag to be sized differently, we provide the following heading modifier classes</p>
                <h1 class="heading2">H1 with heading2</h1>
                <h2 class="heading1">H2 with heading1</h2>
                <h3 class="heading5">H3 with heading5</h3>


                <h3 class="content-header">Serif Headings:</h3>
                    <h1 class="serif">This is an h1.serif <small>Small text in h1</small></h1>
                    <h2 class="serif">This is an h2.serif <small>Small text in h2</small></h2>
                    <h3 class="serif">This is an h3.serif <small>Small text in h3</small></h3>
                    <h4 class="serif">This is an h4.serif <small>Small text in h4</small></h4>
                    <h5 class="serif">This is an h5.serif <small>Small text in h5</small></h5>
                    <br />
                    <br />
                <h3 class="content-header">Content Headers</h3>
                    <h1 class="content-header">This is an h1.content-header <small>Small text in h1</small></h1>
                    <h2 class="content-header">This is an h2.content-header <small>Small text in h2</small></h2>
                    <h3 class="content-header">This is an h3.content-header <small>Small text in h3</small></h3>
                    <h4 class="content-header">This is an h4.content-header <small>Small text in h4</small></h4>
                    <h5 class="content-header">This is an h5.content-header <small>Small text in h5</small></h5>
                    <br>
                    <br>
                <h3 class="content-header">Special Cases:</h3>
                    <h1 class="mega sbu-3d-shadow">h1.mega.sbu-3d-shadow</h1>
                    <h1 class="mega">This is an h1.mega</h1>
                    <h1 class="site-name">This is an h1.site-name</h1>
                    <div class="clearfix"></div>
