<h2 class="content-header">favicon.ico</h2>
<img src="../../images/favicons/favicon.ico" />

<h2 class="content-header">Apple Icon</h2>
<img src="../../images/favicons/apple-touch-icon-144x144-precomposed.png" />

<h2 class="content-header">Standard Icon</h2>
<img src="../../images/favicons/icon.png" />
