<p>
    Preferred sizes for 4x3 images.
</p>
            <img src="../../placeholders/images/sbu/sac-1200x900.jpg" /><br />
            <img src="../../placeholders/images/sbu/sac-800x600.jpg" /><br />
            <img src="../../placeholders/images/sbu/sac-640x480.jpg" /><br />
