
{{> atoms-circle-image }}

{{> atoms-flat-circle-image }}


<div class="container">
    <div class="row">
        {{# listItems.four }}
        <div class="col-sm-6 col-md-3">
                {{> atoms-circle-image(src:"img.square.src") }}
        </div>
        {{/ listItems.four }}
    </div>

    <div class="row">
        {{# listItems.four }}
        <div class="col-sm-6 col-md-3">
                {{> atoms-flat-circle-image(src:"img.square.src") }}
        </div>
        {{/ listItems.four }}
    </div>
</div>