{{> atoms-thumbnail-image }}


<div class="container">
    <div class="row">
        {{# listItems.four }}
        <div class="col-sm-6 col-md-3">
                {{> atoms-thumbnail-image(src:"img.square.src") }}
        </div>
        {{/ listItems.four }}
    </div>
</div>