{{> atoms-rounded-image }}



<div class="row">
    {{# listItems.four }}
    <div class="col-sm-6 col-md-3">
            {{> atoms-rounded-image(src:"img.square.src") }}
    </div>
    {{/ listItems.four }}
</div>
