
                            <table class="simple-two-col-table">
                                <tbody><tr>
                                    <td class="cell-label">Summary</td>
                                    <td><a class="external-link" href="http://www.commonapp.org/" target="_blank">The Common Application</a> allows you to apply to more than 500 participating schools with one application.</td>
                                </tr>
                                <tr>
                                    <td class="cell-label">Requirements</td>
                                    <td>
                                        <ul class="default-bullets">
                                            <li>Required member questions</li>
                                            <li>Essay of at least 250 words</li>
                                            <li>Online Teacher/Counselor Evaluation</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cell-label nowrap">Application Fee</td>
                                    <td>$50</td>
                                </tr>
                                <tr>
                                    <td class="cell-label">Notes</td>
                                    <td>Use <a class="external-link" href="http://www.commonapp.org/" target="_blank">The Common Application</a> if you are applying to <a href="http://www.stonybrook.edu/ugadmissions/newhonors/index.shtml" target="_blank">honors programs</a> at Stony Brook. (Applicants to honors programs must follow <a href="http://www.stonybrook.edu/ugadmissions/newhonors/apply.shtml" target="_blank">additional procedures</a> as well.)</td>
                                </tr>
                            </tbody></table>