<!-- ===========================================================================

** Title Section **

This section is only visible on mobile screens.


============================================================================ -->

<section class="hidden-md hidden-lg hidden-xl snug" style="background-color: #111;">
  <div class="container">
    <h2 class="heading white noMarginBottom">Explore IT For Faculty</h2>
    <p class="small white noMarginTop">Division of Information Technology</p>
  </div>
</section>

<section class="redRaysBorder hidden-md hidden-lg" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg');"></section>

<!-- ===========================================================================

** Welcome section + Video **

============================================================================ -->

<section id="top" class="fluffy hero-beyond display--flex gradient-overlay__TopRight">
  <div class="container">
    <div class="col-md-6 bg-white side-padding cozy" data-match-height="top-section">
      <h2 class="heading red">Faculty Technology Guide</h2>
      <p class="normal-text">This guide will provide you with an overview on essential services offered by the Division of Information Technology (DoIT) that will enable you to be successful at Stony Brook University.</p>
      <a href="#gettingStarted" class="default-button button-large scrollto">Get Started &raquo;</a>
    </div>
    <div class="col-md-6 bg-white side-padding cozy" data-match-height="top-section">
      <div class="img-responsive">
        <img src="../../placeholders/images/orientation/faculty.jpg">
        <hr clsas="divider-gray">
        <p class="small font-alt">Drs. Henry Woo and David Fiorella with their vascular simulator that’s revolutionizing neurosurgery. (Source: <a href="http://www.stonybrook.edu/magazine/2016-spring/personalizing-brain-surgery">Stony Brook Magazine</a>)</p>
      </div>
    </div>
  </div>
</section>

<!-- ===========================================================================

** Navigation **

This navigation will fix to the top of the screen on scroll.
Fixed position will be removed when back to the top of the page.

============================================================================ -->


<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">

  <div class="container">
    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-nav-fixedbar"></span>
      </button>
    </div>

    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">

      <ul class="nav navbar--fixed__links main-nav">
        <li><a href="#gettingStarted" class="fixedNavLink scrollto">Getting Started</a></li>
        <li><a href="#ITServices" class="fixedNavLink scrollto">IT Services</a></li>
        <li><a href="#academicTools" class="fixedNavLink scrollto">Academic Tools</a></li>
        <li><a href="#academicFacilities" class="fixedNavLink scrollto">Academic Facilities</a></li>
        <li><a href="#gettingHelp" class="fixedNavLink scrollto">Getting Help</a></li>
      </ul>
    </div>
  </div>
</nav>



<!-- This acts as a spacer on larger screens -->
    <!-- <section class="fluffy hidden-xs hidden-sm hidden-md"></section> -->

<!-- ===========================================================================
  ** Getting Started **
============================================================================ -->
<section id="gettingStarted" class="bg-white fluffy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="heading text-left">Getting Started</h2>
        <p class="normal-text text-left">This section will help you learn more about Wi-Fi, SOLAR, NetID, and Faculty Profiles.</strong></p>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="gettingStarted">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/wifi.jpg" alt="person holding phone with wifi symbol">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">WolfieNet</h3>
              <h4 class="box-card--subheading">wolfienet.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            WolfieNet is Stony Brook University's wireless network on West Campus, Southampton, Manhattan, and parts of East Campus. It is available to all faculty, students, staff, and guests.
          </div>
          <div class="box-card--cta">
            <div class="panelWiFi-btn default-button button-small button-block scrollto">More About Wi-Fi &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="gettingStarted">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/solar.jpg" alt="wolfie the seawolf floating in space">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">SOLAR</h3>
              <h4 class="box-card--subheading">solar.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            SOLAR is Stony Brook University's enterprise-wide, self-service system which provides faculty, staff, and students with online access to manage personal information.
          </div>
          <div class="box-card--cta">
            <div class="panelSOLAR-btn default-button button-small button-block scrollto">More About SOLAR &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="gettingStarted">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/netid.jpg" al="student sitting on couch on laptop">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">NetID</h3>
              <h4 class="box-card--subheading">netid.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Every active employee, student, and faculty member is assigned a NetID which is used to access various computing resources.
          </div>
          <div class="box-card--cta">
            <div class="panelNetID-btn default-button button-small button-block scrollto">More About NetID &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="gettingStarted">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/facultyprofiles.jpg" al="Professor">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Faculty Profiles</h3>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            The SBU Faculty Profiles website is a single place where faculty can update, review, and download their faculty profile
          </div>
          <div class="box-card--cta">
            <div class="panelFacPro-btn default-button button-small button-block scrollto">More About Faculty Profiles&raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="fluffy">
          <div class="text-center text-left-mobile">
            <p class="normal-text">Continue to Learn More About IT Services</p>
            <br><a href="#ITServices" class="scrollto"><span class="continue-arrow sbuicon-arrow-down3 red" aria-hidden="true"></span><span class="sr-only">Go to Next Section Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =====================================================================
  ** IT Services **
====================================================================== -->
<section id="ITServices" class="hero-beyond__white fluffy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="heading text-left">IT Services</h2>
        <p class="normal-text text-left">This section will help you learn more about Software/Hardware, Google Apps, and Research Resources.</strong></p>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="ITServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/software.jpg" alt="person using multifunction printer">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Software / Hardware</h3>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            DoIT provides reccommendations and discounts on the latest computer hardware, as well as provides essential software for academic success.
          </div>
          <div class="box-card--cta">
            <div class="panelHwSw-btn default-button button-small button-block scrollto">More About Software / Hardware &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="ITServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/google.jpg" alt="students working in computer lab">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Google Apps</h3>
              <h4 class="box-card--subheading">google.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Stony Brook's Google Apps suite of products includes Mail, Calendar, Drive, Contacts, Sites, Groups, Hangouts and a host of other applications to enhance communication and real-time collaboration across campus.
          </div>
          <div class="box-card--cta">
            <div class="panelGoogle-btn default-button button-small button-block scrollto">More About Google Apps &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="ITServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/research.jpg" alt="person sitting in front of laptop">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Research Resources</h3>
              <h4 class="box-card--subheading">research.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Learn more about COEUS, IRBNet, RF Report Center, and Research Technologies.
          </div>
          <div class="box-card--cta">
            <div class="panelResearch-btn default-button button-small button-block scrollto">More About Research Resources &raquo;</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="fluffy">
          <div class="text-center text-left-mobile">
            <p class="normal-text">Continue to Learn More About Teaching & Learning Tools</p>
            <br><a href="#academicTools" class="scrollto"><span class="continue-arrow sbuicon-arrow-down3 red" aria-hidden="true"></span><span class="sr-only">Go to Next Section Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===========================================================================
** End of IT Services **
============================================================================ -->

<!-- ===========================================================================
  ** Academic Tools **
============================================================================ -->

<section id="academicTools" class="bg-white fluffy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="heading text-left">Academic Tools</h2>
        <p class="normal-text text-left">This section will help you learn more about Assessment, Course Design, Blackboard, the Teaching & Learning Lab, and Academic Technology Services. For more information about these services visit the <a href="http://facultycenter.stonybrook.edu">Faculty Center website</a>.</strong></p>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/assessment.jpg" alt="person in front of laptop with google apps logos on screen">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Assessment</h3>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Assessment is the process by which faculty clarify what they want students to learn, determine how well students are learning and develop ways to enhance learning.
          </div>
          <div class="box-card--cta">
            <div class="panelAssessment-btn default-button button-small button-block scrollto">More About Assessment &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/coursedesign.jpg" ald="student doing homework in front of laptop">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Course Design</h3>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Instructional designers, technologists and assessment specialists work with faculty and departments to develop hybrid and fully online courses.
          </div>
          <div class="box-card--cta">
            <div class="panelCourseDesign-btn default-button button-small button-block scrollto">More About Course Design &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/courseevals.jpg" alt="students working together at computer station">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Course Evaluations</h3>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Each semester, faculty receive student evaluation reports by email after all grades have been posted.
          </div>
          <div class="box-card--cta">
            <div class="panelCourseEvals-btn default-button button-small button-block scrollto">More About Course Evaluations &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/blackboard.jpg" alt="students working together at computer station">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Blackboard</h3>
              <h4 class="box-card--subheading">blackboard.stonybrook.edu</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Instructors can also use Blackboard for online discussions, exams, assignment submissions, grades, online journaling and wikis.
          </div>
          <div class="box-card--cta">
            <div class="panelBlackboard-btn default-button button-small button-block scrollto">More About Blackboard &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/tll.jpg" alt="students working together at computer station">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">TLL</h3>
              <h4 class="box-card--subheading">Teaching & Learning Lab</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Faculty who need assistance with ePortfolios, multimedia development, and instructional technology can find help at the Teaching and Learning Lab.
          </div>
          <div class="box-card--cta">
            <div class="panelTLL-btn default-button button-small button-block scrollto">More About the TLL &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-x-light-gray" data-match-height="learningTools">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/ats.jpg" alt="students working together at computer station">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">ATS</h3>
              <h4 class="box-card--subheading">Academic Technology Services</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            TLT's Academic Technology Services team provides consultations for faculty who are interested in incorporating technology into their courses.
          </div>
          <div class="box-card--cta">
            <div class="panelATS-btn default-button button-small button-block scrollto">More About ATS &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="fluffy">
          <div class="text-center text-left-mobile">
            <p class="normal-text">Continue to Learn More About Academic Facilities</p>
            <br><a href="#gettingHelp" class="scrollto"><span class="continue-arrow sbuicon-arrow-down3 red" aria-hidden="true"></span><span class="sr-only">Go to Next Section Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===========================================================================
  ** End of Academic Tools **
============================================================================ -->


<!-- =====================================================================
  ** Academic Facilities **
====================================================================== -->

<section id="academicFacilities" class="hero-beyond__white fluffy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="heading text-left">Academic Facilities</h2>
        <p class="normal-text text-left">This section will help you learn more about Audio Visual Services, Computer Clasrooms, and Testing Center.</strong></p>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="ITServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/avservices.jpg" alt="person using multifunction printer">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">A/V Services</h3>
              <h4 class="box-card--subheading">Audio Visual Services</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Audio Visual (A/V) Services provides short-term daily loans of equipment (projectors, computers, cables, and more) and also provides media systems training to instructors.
          </div>
          <div class="box-card--cta">
            <div class="panelAVServices-btn default-button button-small button-block scrollto">More About A/V Services &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="ITServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/sincsites.jpg" alt="students working in computer lab">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">SINC Sites</h3>
              <h4 class="box-card--subheading">Computer Classrooms</h4>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            Most student Computer Classrooms (SINC Sites) can be reserved for classes.
          </div>
          <div class="box-card--cta">
            <div class="panelCompClass-btn default-button button-small button-block scrollto">More About Computer Classrooms &raquo;</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="box-card no-border bg-white" data-match-height="ITServices">
          <div class="box-card--image-wrap">
            <img class="box-card--image" src="../../placeholders/images/orientation/testingcenter.jpg" alt="person sitting in front of laptop">
          </div>
          <div data-match-height="box-card--headings">
              <h3 class="box-card--heading red">Testing Center</h3>
          </div>
          <div class="box-card--content" data-match-height="box-card--content">
            The testing center serves as a place for students to take online exams, and for teacher certification tests to be administered.
          </div>
          <div class="box-card--cta">
            <div class="panelTestingCenter-btn default-button button-small button-block scrollto">More About the Testing Center &raquo;</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="fluffy">
          <div class="text-center text-left-mobile">
            <p class="normal-text">Continue to Learn More About Where to Find Help</p>
            <br><a href="#gettingHelp" class="scrollto"><span class="continue-arrow sbuicon-arrow-down3 red" aria-hidden="true"></span><span class="sr-only">Go to Next Section Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===========================================================================

** End Academic Facilities Section **

============================================================================ -->


<!-- ===========================================================================

** Where to get help section **

============================================================================ -->

<section id="gettingHelp" class="hero-beyond fluffy gradient-overlay__TopRight">
  <div class="container">
    <h2 class="heading white">Where to Find Help</h3>
    <p class="normal-text white">DoIT is committed to providing outstanding service to the Stony Brook University community. Submit a help ticket through our service management system.</p>
  </div>

  <div class="container">

    <div class="col-md-4 bg-white side-padding cozy" data-match-height="top-section">
      <div class="img-responsive">
        <img src="../../placeholders/images/orientation/clientsupport.png">
        <hr clsas="divider-gray">
        <p class="small font-alt">A member of the client support team answering a support question.</p>
      </div>
    </div>

    <div class="col-md-8 bg-white side-padding cozy" data-match-height="top-section">
      <h2 class="heading red">Client Support</h2>
      <h3 class="subheading">service.stonybrook.edu</h3>
      <p class="normal-text">For any technical related issue, you can contact Client Support by creating a support ticket. A member of the Client Support staff will be assigned to assist you with your needs.</p>
      <a href="http://service.stonybrook.edu" class="default-button button-large scrollto">Submit A Ticket &raquo;</a>
    </div>
  </div>
</section>
<!-- ===========================================================================

** Slideout Panels Content **

These slideout panels are translated onto the screen when the appropriate article
card is selected.

============================================================================ -->


  <!-- =========================================================================
  WiFi Slideout Panel
  ===========================================================================-->

  <div class="panelWiFi slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">WolfieNet (Wi-Fi)</h2>
                <a href="http://wolfienet.stonybrook.edu" class="default-button default-button__white">wolfienet.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#availablenetworks">Available Networks</a><br>
                  <a href="reportingwifiissues">Reporting Wi-Fi Issues</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="availablenetworks">
                <h4 class="heading heading-small uppercase dark-gray">Available Networks</h4>
                <p class="normal-text">
                  <strong>WolfieNet-Get-Connected</strong><br>
                  Use for the first time when connecting to WolfieNet. This option configures Wi-Fi enabled devices to use WolfieNet properly.<br><br>
                  <strong>WolfieNet-Secure</strong><br>
                  This is the recommended network that should be used on a day-to-day basis after successfully configuring your Wi-Fi devices through WolfieNet-Get-Connected.<br><br>
                  <strong>WolfieNet-Guest</strong><br>
                  To be used by visitors to the University who do not have a NetID. Users must authenticate and agree to the Wireless Internet Policy.<br><br>
                  <strong>WolfieNet-Open</strong><br>
                  Available only in residence halls for gaming systems. Do not use for academic work or transactions such as banking or online shopping.<br><br>
                  <strong>Eduroam</strong><br>
                  Eduroam allows students, researchers and staff from participating institutions to obtain Internet connectivity across campus and when visiting other participating institutions.<br>
                  <a href="http://it.stonybrook.edu/node/15191">Learn More About Eduroam &raquo;</a>
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/jNIimBjxMCc?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on iOS</a><br>
                  <a href="https://youtu.be/SXNF6At4iDw?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on Android</a><br>
                  <a href="https://youtu.be/cKtOzB6orXY?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on Windows</a><br>
                  <a href="https://youtu.be/FEBVUnHbSvY?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on MAC</a><br>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="reportingwifiissues">
                <h4 class="heading heading-small uppercase dark-gray">Reporting WiFi Issues</h4>
                <p class="normal-text">
                  If you are experiencing WiFi issues it is recommended that you log a support ticket with Client Support via <a href="http://service.stonybrook.edu">service.stonybrook.edu</a>.<br>
                  If you are unable to log a support ticket, call Client Support at (631) 632-9800.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of WiFi Slideout Panel
  ===========================================================================-->

  <!-- =========================================================================
  SOLAR Slideout Panel
  ===========================================================================-->

  <div class="panelSOLAR slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">SOLAR</h2>
                <a href="http://solar.stonybrook.edu" class="default-button default-button__white">solar.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#accessingsolar">Accessing SOLAR</a><br>
                  <a href="#insideSOLAR" class="scrollto">Inside SOLAR</a><br>
                  <a href="#managenetid" class="scrollto">Manage NetID</a><br>
                  <a href="#sbalert" class="scrollto">SB Alert</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="register">
                <h4 class="heading heading-small uppercase dark-gray">Accessing SOLAR</h4>
                <p class="normal-text">
                  To access SOLAR visit <a href="http://solar.stonybrook.edu">solar.stonybrook.edu</a>. Use your 9-digit SOLAR ID and password to login.
                  <br><br>
                  <strong>Initial SOLAR Password</strong><br>
                  If you are faculty, the initial SOLAR password can be obtained by clicking the SOLAR Password Help link on the SOLAR Login page.
                  Enter your Stony Brook ID and click Submit. A password will be electronically generated and instructions for how to construct your password will be sent to all e-mail addresses listed in the University's PeopleSoft system.
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/EUyujom0UaU?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Access SOLAR</a>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="insideSOLAR">
                <h4 class="heading heading-small uppercase dark-gray">Inside SOLAR</h4>
                <p class="normal-text">
                  In SOLAR you will be able to:
                  <ul class="normal-text">
                    <li>Access course information, grade rosters, and schedules</li>
                    <li>Submit time/attendance</li>
                    <li>Approve student time sheets</li>
                    <li>Manage personal information</li>
                  </ul>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="managenetid">
                <h4 class="heading heading-small uppercase dark-gray">Manage NetID</h4>
                <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.<br><br>
                <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                <a href="https://youtu.be/sk8JFfw5F0o?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">View Your NetID / Where to Change NetID Password</a></p>
              </div>
              <hr>
              <div class="text-blurb" id="sbalert">
                <h4 class="heading heading-small uppercase dark-gray">SB Alert</h4>
                <p class="normal-text">SB Alert is the University's emergency notification system used to alert the campus community of major emergencies, immediate threats or impending situations that could pose harm, disrupt classes, impact facilities, activities, or other operations.
                  <br><br>
                  <a href="http://it.stonybrook.edu/node/6103">Configuring SB Alert &raquo;</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of SOLAR Slideout Panel
  ===========================================================================-->

  <!-- =========================================================================
  NetID Slideout Panel
  ===========================================================================-->

  <div class="panelNetID slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">NetID</h2>
                <a href="http://netid.stonybrook.edu" class="default-button default-button__white">netid.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#availablenetworks">What is my NetID?</a><br>
                  <a href="#netidservices">Services Accessed with NetID</a><br>
                  <a href="#netidtrouble">NetID Issues</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="availablenetworks">
                <h4 class="heading heading-small uppercase dark-gray">What is my NetID?</h4>
                <p class="normal-text">Every active employee, student, and faculty member is assigned a NetID which is used to access various computing resources.
                <strong>The NetID and SOLAR ID are two different identifiers.</strong> To view your NetID, log in to <a href="http://solar.stonybrook.edu">SOLAR</a>, and select "NetID Maintenance".

                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/sk8JFfw5F0o?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">View Your NetID / Where to Change NetID Password</a><br>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="netidtrouble">
                <h4 class="heading heading-small uppercase dark-gray">Services Accessed with NetID</h4>
                  <ul class="bullets normal-text">
                    <li><a href="http://it.stonybrook.edu/node/894">Blackboard &raquo;</a></li>
                    <li><a href="http://sincsites.stonybrook.edu">SINC Site computers and printers &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/3037">Department Shared Folders &raquo;</a></li>
                    <li><a href="http://wifi.stonybrook.edu">Wi-Fi (WolfieNet) &raquo;</a></li>
                    <li><a href="http://google.stonybrook.edu">Google Apps for Education (Email, Calendar, Docs, etc.) &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/911">MySBfiles &raquo;</a></li>
                    <li><a href="http://yammer.stonybrook.edu">Yammer &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/6335">Qualtrics Online Survey Tool &raquo;</a></li>
                    <li><a href="http://you.stonybrook.edu">SB You WordPress &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/5454">Virtual SINC Site &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/916">Virtual Private Network (VPN) &raquo;</a></li>
                    <li><a href="https://och.stonybrook.edu/">Off-Campus Housing rental listings &raquo;</a></li>
                  </ul>
              </div>
              <hr>
              <div class="text-blurb" id="availablenetworks">
                <h4 class="heading heading-small uppercase dark-gray">NetID Issues</h4>
                <p class="normal-text">If you are having issues with your NetID and are unable to log a support ticket via <a href="http://services.stonybrook.edu">service.stonybrook.edu</a>, please call Client Support at (631) 632-9800.
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of NetID Slideout Panel
  ===========================================================================-->

  <!-- =========================================================================
  Faculty Profiles Panel
  ===========================================================================-->

  <div class="panelFacPro slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">Faculty Profiles</h2>
                <a href="https://it.stonybrook.edu/services/faculty-profiles" class="default-button default-button__white">Go to Faculty Profiles &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#facultyprofiles">What is Faculty Profiles?</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="netidtrouble">
                <h4 class="heading heading-small uppercase dark-gray">What is faculty profiles?</h4>
                <p class="normal-text">You can use your Faculty Profile to update and review:</p>
                  <ul class="bullets normal-text">
                    <li>Contact and personal information</li>
                    <li>Courses taught</li>
                    <li>Research proposals submitted</li>
                    <li>Grants received</li>
                    <li>Scholarly work</li>
                    <li>University and professional service</li>
                    <li>Student mentorship</li>
                    <li>Positions held at the University and honors and awards received.</li>
                  </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Faculty Profiles Panel
  ===========================================================================-->


  <!-- =========================================================================
  Hardware/Software Slideout Panel
  ===========================================================================-->

  <div class="panelHwSw slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-medium white noMarginBottom">Software / Hardware</h2>
                  <a href="http://software.stonybrook.edu" class="default-button default-button__white">software.stonybrook.edu &raquo;</a></p>
                  <a href="http://hardware.stonybrook.edu" class="default-button default-button__white">hadware.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#software">Software</a><br>
                  <a href="#hardware">Hardware</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="software">
                <h4 class="heading heading-small uppercase dark-gray">Software</h4>
                <p class="normal-text">
                  Stony Brook University offers a variety of software to assist faculty and staff with their computing needs. Here are several important software assets.<br>
                  <ul class="no-bullets normal-text">
                    <li><a href="http://it.stonybrook.edu/node/5402/">Offic365 &raquo;</a><br>Log in to <a href="http://it.stonybrook.edu/node/5402/">office365.com</a> with your Stony Brook email address to download Office 365.</li>
                    <li><a href="https://stonybrook.onthehub.com/">Windows Operating System Upgrade &raquo;</a><br>Visit <a href="https://stonybrook.onthehub.com/">stonybrook.onthehub.com</a> to install the latest version of Microsoft Windows for a nominal fee.</li>
                    <li><a href="https://softweb.cc.stonybrook.edu/">Free Symantec Antivirus Software &raquo;</a><br>Log in at <a href="https://softweb.cc.stonybrook.edu/">softweb.cc.stonybrook.edu</a> and download the Symantec client for your personal computer.</li>
                  </ul>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="hardware">
                <h4 class="heading heading-small uppercase dark-gray">Hardware</h4>
                <p class="normal-text">
                  The Division of Information Technology’s Client Support department has instituted hardware support standards.
                  <br><br>
                  <strong>Recommended Specifications</strong><br>
                  If purchasing a laptop/computer, DoIT reccommends the following specifications:
                  <ul class="no-bullets normal-text">
                    <li><strong>Processor:</strong> Core i5</li>
                    <li><strong>RAM:</strong> Minimum 4 GB</li>
                    <li><strong>Hard Drive:</strong> Minimum 250 GB</li>
                    <li><strong>Warranty:</strong> 3 years</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Hardaware/Software Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Research Resources Stations Slideout Panel
  ===========================================================================-->

  <div class="panelResearch slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-medium white noMarginBottom">Research Resources</h2>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#coeus">COEUS</a><br>
                  <a href="#irbnet">IRBNet</a><br>
                  <a href="#rfreports">RF Report Center</a><br>
                  <a href="#researchtech">Research Technologies</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="coeus">
                <h4 class="heading heading-small uppercase dark-gray">COEUS</h4>
                <p class="normal-text">
                  COEUS allows for the preparation of research proposals and submission of system-to-system proposals to Grants.gov.<br>
                  More information about COEUS at <a href="//research.stonybrook.edu/coeus">research.stonybrook.edu/coeus &raquo;</a>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="irbnet">
                <h4 class="heading heading-small uppercase dark-gray">IRBNet</h4>
                <p class="normal-text">
                  Web-based system for the administration and management of human subjects, animal use, stem cell, and biosafety study protocols.<br>
                  More information about IRBNet at <a href="//research.stonybrook.edu/irbnet">research.stonybrook.edu/irbnet &raquo;</a>
                </p>
              </div>
              <div class="text-blurb" id="rfreports">
                <h4 class="heading heading-small uppercase dark-gray">RF Report Center</h4>
                <p class="normal-text">
                  Use this system to look up any financial information related to your RFSUNY grant account, including salary, purchasing, and supplies.
                  More information about RF Report Center at <a href="//research.stonybrook.edu/rf-report-center">research.stonybrook.edu/rf-report-center &raquo;</a>
                </p>
              </div>
              <div class="text-blurb" id="researchtech">
                <h4 class="heading heading-small uppercase dark-gray">Research Technologies</h4>
                <p class="normal-text">
                  Research Technologies is an area within the Division of Information Technology that acts as a liaison with campus researchers and offers technical expertise and the opportunity to collaborate with a variety of IT leaders and IT partners.<br>
                  More information about Research Technolgies at <a href="//stonybrook.edu/researchtech">stonybrook.edu/researchtech &raquo;</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Mobile Charging Stations Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Google Apps Slideout Panel
  ===========================================================================-->

  <div class="panelGoogle slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">Google Apps</h2>
                <a href="http://google.stonybrook.edu" class="default-button default-button__white">google.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#googleapps">Google Apps</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="googleapps">
                <h4 class="heading heading-small uppercase dark-gray">Your Email, calendar and collaboration Toolkit</h4>
                <p class="normal-text">
                  <strong>Google Drive</strong><br>
                    Enjoy UNLIMITED storage in Google Drive. You can store all of your files in Google Drive and share with others.
                  <br><br>
                  <strong>Gmail</strong><br>
                  To easily access your @stonybrook.edu email address go to <a href="http://stonybrook.edu/mycloud">stonybrook.edu/mycloud</a>. All official University communications will be directed to your @stonybrook.edu email address.
                  <br><br>
                  <strong>Google Calendar</strong><br>
                  Google Calendar allows users to easily create, share, edit, and delete meeting invitations, calendar events, and tasks. These are easily accessed and synced between computers and mobile devices.
                  <br><br>
                  <strong>Google Hangouts</strong><br>
                  Google Hangouts, on the Stony Brook domain, allows for video conferencing and live screen sharing for up to 15 participants.
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                   <a href="https://www.youtube.com/playlist?list=PL6Xrs39_KA2YqgzjceGMIWeqAImwbdeuJ">Google Apps Training Playlist by DoIT Training</a><br>
                </p>
              </div>
              <hr>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Google Apps Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Assessment Slideout Panel
  ===========================================================================-->

  <div class="panelAssessment slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">Assessment</h2>
                <a href="//facultycenter.stonybrook.edu" class="default-button default-button__white">facultycenter.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#assessment">Assessment</a><br>
                  <a href="#opscan">OpScan Test Scoring</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="assessment">
                <h4 class="heading heading-small uppercase dark-gray">Assessment</h4>
                <p class="normal-text">
                  Academic Assessment at Stony Brook is supported through the Faculty Center in Teaching, Learning & Technology.  Our staff have expertise in all areas of assessment and quantitative measurement, testing, surveys and rubric development, qualitative methods of collecting formative and summative assessment data.   Our University is currently engaged in assessment of student learning activities including the Assessment Academy and the Assessment Task Force.
                  <br><br>
                  Learn More About Assessment at <a href="//facultycenter.stonybrook.edu/assessment">facultycenter.stonybrook.edu/assessment &raquo;</a>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="opscan">
                <h4 class="heading heading-small uppercase dark-gray">OpScan Test Scoring</h4>
                <p class="normal-text">
                  The OpScan Test Scanning Office provides scanning services for multiple-choice exams and tests using bubble sheets.
                  <br><br>
                  Contact the OpScan Test Scanning Office at <a href="tel:631-632-8032">631-632-8032</a> or email <a href="opscan@stonybrook.edu">opscan@stonybrook.edu</a>.
                  <br><br>
                  Learn More More About OpSCan Test Scoring at <a href="//http://it.stonybrook.edu/node/848">it.stonybrook.edu/services/opscan-test-scoring &raquo;</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Assessment Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Course Design Slideout Panel
  ===========================================================================-->

  <div class="panelCourseDesign slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-medium white noMarginBottom">Course Design and Development</h2>
                <a href="//facultycenter.stonybrook.edu" class="default-button default-button__white">facultycenter.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#coursedesign">Course Design and Development</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="whatissincsite">
                <h4 class="heading heading-small uppercase dark-gray">Course Design and Development</h4>
                <p class="normal-text">
                  Instructional designers, technologists and assessment specialists work with faculty and departments to develop hybrid and fully online courses. TLT's Faculty Center and Academic Technology Services group work together to answer all pedagogical and technical questions.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="sinclocations">
                <h4 class="heading heading-small uppercase dark-gray">SINC Site Locations</h4>
                <p class="normal-text">Visit <a href="http://sincsites.stonybrook.edu">sincsites.stonybrook.edu </a> for a full list of SINC Site locations,
                  or view the <a href="http://it.stonybrook.edu/services/computer-labs/map">Campus SINC Site Map</a>.
                </p><br>
                <p class="normal-text"><strong>Popular SINC Site Locations</strong>
                  <ul class="normal-text bullets">
                    <li><a href="http://it.stonybrook.edu/node/1573">Melville Library &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/1582">Computer Science &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/6689">North Reading Room &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/6775">Tabler Digital Arts Lab &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/1589">Humanities &raquo;</a></li>
                  </ul>
                </p>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Course Design Slideout Panel
  ===========================================================================-->

  <!-- =========================================================================
  Course Evaluations Slideout Panel
  ===========================================================================-->

  <div class="panelCourseEvals slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">Course Evaluations</h2>
                <a href="https://it.stonybrook.edu/services/course-evaluations-faculty" class="default-button default-button__white">Course Evals service page &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatarecourseevals">What are Course Evaluations?</a><br>
                  <a href="#courseevalssupport">Course Evaluations Support</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="whatarecourseevals">
                <h4 class="heading heading-small uppercase dark-gray">What are Course Evaluations?</h4>
                <p class="normal-text">
                  Course Evaluations is a system implemented to collect student feedback used to help guide changes and improve the student learning experience. Course evaluations are accessed through the <a href="https://stonybrook.campuslabs.com/faculty/#/">Campus Labs</a>.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="courseevalssupport">
                <h4 class="heading heading-small uppercase dark-gray">Assitance With Course Evaluations</h4>
                <p class="normal-text">
                  If you have questions about preparing your online course evaluations you can email <a href="mailto:courseeval@stonybrook.edu">CourseEval@stonybrook.edu</a>.
                </p>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Course Evaluations Slideout Panel
  ===========================================================================-->


  <!-- =========================================================================
  Blackboard Slideout Panel
  ===========================================================================-->

  <div class="panelBlackboard slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">Blackboard</h2>
                <a href="http://blackboard.stonybrook.edu" class="default-button default-button__white">blackboard.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatisblackboard">What is Blackboard?</a><br>
                  <a href="#accessingblackboard">Accessing Blackboard</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="whatisblackboard">
                <h4 class="heading heading-small uppercase dark-gray">What is Blackboard?</h4>
                <p class="normal-text">
                  Blackboard is Stony Brook University's learning management system (LMS), which allows instructors to supplement face-to-face classes, or launch online classes. Blackboard includes a variety of features that allow instructors to do anything from uploading course documents, to posting an announcement, to collecting and grading assignments. For students, Blackboard offers an easy way to contact instructors, download and access course documents, and check grades.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="accessingblackboard">
                <h4 class="heading heading-small uppercase dark-gray">Accessing Blackboard</h4>
                <p class="normal-text">
                  <strong>Web Browser</strong><br>
                  From your browser, you can access Blackboard on a mobile device or desktop by heading to <a href="http://blackboard.stonybrook.edu">blackboard.stonybrook.edu</a>. You will use your NetID and NetID password to log in.
                  <br><br>
                  <strong>Blackboard Mobile App</strong><br>
                  You can access Blackboard on your mobile device by downloading the Blackboard Student App. Log in with your NetID and NetID password once the app is installed on your device.<br>
                  <ul class="normal-text bullets">
                    <li><a href="https://itunes.apple.com/us/app/bb-student-by-blackboard/id950424861?mt=8">iOS Devices &raquo;</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.blackboard.android.bbstudent&hl=en">Android Devices &raquo;</a></li>
                    <li><a href="https://www.microsoft.com/en-us/store/apps/bb-student/9nblggh08j8w">Windows Devices &raquo;</a></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Blackboard Slideout Panel
  ===========================================================================-->

  <!-- =========================================================================
  Computer Teaching & Learning Lab Panel
  ===========================================================================-->

  <div class="panelTLL slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-medium white noMarginBottom">Teaching & Learning Lab</h2>
                <a href="https://it.stonybrook.edu/services/teaching-learning-lab" class="default-button default-button__white">TLL Service Page &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#abouttll">About TLL </a><br>
                  <a href="#resources">Resources & Services</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="abouttll">
                <h4 class="heading heading-small uppercase dark-gray">About the Teaching & Learning Lab</h4>
                <p class="normal-text">
                  Stony Brook's TLT Media Lab offers a wide variety of services to help teach and assist in the creation of multimedia projects for the university's community.
                  Instructors and teaching assistants are welcome to come brainstorm with the creative and technical staff in the TLT and get help and additional input on anything from a PowerPoint presentation to professional quality video, Web pages, illustrations or animations.<br><br>
                </p>
                <p class="normal-text"><strong>LOCATION</strong><br>
                  The TLT Media Lab is located in the Melville Library, Room S-1430
                </p>
                <p class="normal-text"><strong>HOURS</strong><br>
                  The TLT Media Lab is open Monday through Friday, 11am - 7pm.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="resources">
                <h4 class="heading heading-small uppercase dark-gray">Resources & Services</h4>
                <p class="normal-text">
                  <strong>RESOURCES</strong>
                  <ul class="normal-text no-bullets">
                    <li>Adobe Photoshop</li>
                    <li>Illustrator</li>
                    <li>Dreamweaver</li>
                    <li>InDesign</li>
                    <li>Flash</li>
                    <li>Final Cut Pro</li>
                    <li>Motion</li>
                    <li>DVD Studio Pro</li>
                    <li>Audacity</li>
                    <li>Media Conversion Station (VHS -> DVD & Blu Ray)</li>
                  </ul>
                </p>
                <hr>
                <p class="normal-text">
                  <strong>SERVICES</strong>
                  <ul class="normal-text no-bullets">
                    <li>Consultations with our Media Lab staff on the design, development and implementation of ideas</li>
                    <li>Turning presentations into audio slideshows</li>
                    <li>Creating dynamic Web diagrams with SIMPL</li>
                    <li>Creating lab tutorials to be made available online</li>
                    <li>Creating and editing videos for instruction and demos</li>
                    <li>DVD mastering video format converstions (VHS to DVD, miniDV to DVD, DVD to Quicktime or Windows Media for PowerPoint)</li>
                    <li>CD/DVD Duplication</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Teaching & Learning Lab Panel
  ===========================================================================-->

  <!-- =========================================================================
  Academic Technology Services Slideout Panel
  ===========================================================================-->

  <div class="panelATS slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-medium white noMarginBottom">Academic Technology Services</h2>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>

              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="whatissincsite">
                <h4 class="heading heading-small uppercase dark-gray"></h4>
                <p class="normal-text">
                  TLT's Academic Technology Services team provides consultations for faculty who are interested in incorporating technology into their courses. Connect with them and share your experiences through the <a href="http://you.stonybrook.edu/academictechnologyservices/">Academic Technology Services blog</a>.
                </p>
              </div>
              <hr>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Academic Technology Services Slideout Panel
  ===========================================================================-->

  <!-- =========================================================================
  A/V / Services Slideout Panel
  ===========================================================================-->

  <div class="panelAVServices slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-medium white noMarginBottom">Audio/Visual Services</h2>
                <a href="https://it.stonybrook.edu/services/audio-visual-services" class="default-button default-button__white">A/V Services service page &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#avserviceslocations">Locations</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb">
                <p class="normal-text">
                  Audio Visual Services provides numerous services to enhance and facilitate classroom instruction. Service counters in the Javits Lecture Center, the Health Sciences Center, and Frey Hall each provide different aspects of support.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="avserviceslocations">
                <h4 class="heading heading-small uppercase dark-gray">Locations</h4>
                <p class="normal-text">For the most update information regarding services offered and hours of operation at each of the following locations, visit the <a href="https://it.stonybrook.edu/services/audio-visual-services">A/V Services service page</a>.
                </p><br>
                <p class="normal-text">
                  <ul class="normal-text bullets">
                    <li>Javits Lecture Center Service Counter - Javits Room 104</li>
                    <li>Health Science Center Service Counter - HSC Room 2-270</li>
                    <li>Frey Hall Service Counter - Frey Hall Room 118</li>
                  </ul>
                </p>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of A/V Services Slideout Panel
  ===========================================================================-->


  <!-- =========================================================================
  Computer Classrooms Slideout Panel
  ===========================================================================-->

  <div class="panelCompClass slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">SINC Sites</h2>
                <a href="http://sincsites.stonybrook.edu" class="default-button default-button__white">sincsites.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatissincsite">What is a SINC Site?</a><br>
                  <a href="#sinclocations">SINC Site Locations</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="whatissincsite">
                <h4 class="heading heading-small uppercase dark-gray">What is a SINC Site?</h4>
                <p class="normal-text">
                  SINC Sites are public computer labs that allow users to access both Windows & Mac computers. SINC Sites provide printing services and access to numerous academic software titles. These computer labs are located in a majority of the academic buildings on campus and have scheduled open hours.
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                   <a href="https://www.youtube.com/embed/_mrUSQjBz4k">SINC Site Promotional Video</a><br>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="sinclocations">
                <h4 class="heading heading-small uppercase dark-gray">SINC Site Locations</h4>
                <p class="normal-text">Visit <a href="http://sincsites.stonybrook.edu">sincsites.stonybrook.edu </a> for a full list of SINC Site locations,
                  or view the <a href="http://it.stonybrook.edu/services/computer-labs/map">Campus SINC Site Map</a>.
                </p><br>
                <p class="normal-text"><strong>Popular SINC Site Locations</strong>
                  <ul class="normal-text bullets">
                    <li><a href="http://it.stonybrook.edu/node/1573">Melville Library &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/1582">Computer Science &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/6689">North Reading Room &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/6775">Tabler Digital Arts Lab &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/node/1589">Humanities &raquo;</a></li>
                  </ul>
                </p>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Computer Classrooms Slideout Panel
  ===========================================================================-->


  <!-- =========================================================================
  Testing Center Slideout Panel
  ===========================================================================-->

  <div class="panelTestingCenter slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('../../placeholders/images/orientation/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-large white noMarginBottom">Testing Center</h2>
                <a href="https://it.stonybrook.edu/services/testing-center" class="default-button default-button__white">Testing Center Service Page &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 ">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatistestingcenter">What is the Testing Center?</a><br>
                  <a href="#contacttestingcenter">Contact</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 ">
              <div class="text-blurb" id="whatistestingcenter">
                <h4 class="heading heading-small uppercase dark-gray">What is The Testing Center?</h4>
                <p class="normal-text">
                  The testing center is open on the first floor of Frey Hall. The testing center serves as a place for students to take online exams, and for teacher certification tests to be administered.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="contacttestingcenter">
                <h4 class="heading heading-small uppercase dark-gray">Contact</h4>
                <p class="normal-text">For more details, please contact Stony Brook University's Testing Center at <a href="mailto:testingcenter@stonybrook.edu">testingcenter@stonybrook.edu</a> or <a href="tel:631-632-2380">631-632-2380</a>. For the most up-to-date information regarding the Testing Center, visit the <a href="https://it.stonybrook.edu/services/testing-center">Testing Cetner Service page</a>.
                </p>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Testing Center Slideout Panel
  ===========================================================================-->


<!-- ===========================================================================

  ** END of Slideout Panels Content **

============================================================================ -->



<!-- ===========================================================================

Slideout Panel Scripts

============================================================================ -->

<script>
    jQuery(document).ready(function($) {
        //open SOLAR panel
        $('.panelSOLAR-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSOLAR').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close SOLAR panel
        $('.panelSOLAR').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSOLAR').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open NetID panel
        $('.panelNetID-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelNetID').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close NetID panel
        $('.panelNetID').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelNetID').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Faculty Profiles panel
        $('.panelFacPro-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelFacPro').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Faculty Profiles panel
        $('.panelFacPro').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelFacPro').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open WiFi panel
        $('.panelWiFi-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelWiFi').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close WiFi panel
        $('.panelWiFi').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelWiFi').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open SINC Sites panel
        $('.panelSINC-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSINC').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close SINC panel
        $('.panelSINC').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSINC').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Research panel
        $('.panelResearch-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelResearch').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Research panel
        $('.panelResearch').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelResearch').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Hardware/Software panel
        $('.panelHwSw-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelHwSw').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Hardware/Software panel
        $('.panelHwSw').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelHwSw').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Google Apps panel
        $('.panelGoogle-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelGoogle').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Google Apps panel
        $('.panelGoogle').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelGoogle').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

        //open Assessment panel
        $('.panelAssessment-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelAssessment').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Assessment panel
        $('.panelAssessment').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelAssessment').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });//open Course Design panel
        $('.panelCourseDesign-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelCourseDesign').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Course Design panel
        $('.panelCourseDesign').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelCourseDesign').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });//open Blackboard panel
        $('.panelBlackboard-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelBlackboard').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Blackboard panel
        $('.panelBlackboard').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelBlackboard').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });
        //open TLL panel
        $('.panelTLL-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelTLL').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close TLL panel
        $('.panelTLL').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelTLL').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });
        //open ATS Panel
        $('.panelATS-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelATS').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close ATS Panel
        $('.panelATS').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelATS').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });
        //open A/V Services panel
        $('.panelAVServices-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelAVServices').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close A/V Services panel
        $('.panelAVServices').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelAVServices').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });
        //open Requesting Computer Classrooms panel
        $('.panelCompClass-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelCompClass').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close Requesting Computer Classrooms panel
        $('.panelCompClass').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelCompClass').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });
        //open Testing Center panel
        $('.panelTestingCenter-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelTestingCenter').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close A/V Services panel
        $('.panelTestingCenter').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelTestingCenter').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });
        //open Testing Center panel
        $('.panelCourseEvals-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelCourseEvals').addClass('is-visible');
            $('body').addClass('no-scroll');
        });
        //close A/V Services panel
        $('.panelCourseEvals').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelCourseEvals').removeClass('is-visible');
                $('.body').removeClass('no-scroll');
                event.preventDefault();
            }
        });

    });
</script>

<!-- ===========================================================================

Video header script

============================================================================ -->

<script>

  // Allows fullscreen option
  window.parent.document.querySelector('iframe').setAttribute('allowfullscreen',true);

  (function() {
    var v = document.getElementsByClassName("youtube-player");
    for (var n = 0; n < v.length; n++) {
        var p = document.createElement("div");
        p.innerHTML = orientationVideo(v[n].dataset.id);
        p.onclick = orientationVideoIframe;
        v[n].appendChild(p);
    }
  })();

  function orientationVideo(id) {
    return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
  }

  function orientationVideoIframe() {
    var iframe = document.createElement("iframe");
    iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=1&showinfo=1&");
    iframe.setAttribute("frameborder", "0");
    iframe.setAttribute("allowfullscreen", ""); // Allows fullscreen option
    iframe.setAttribute("id", "youtube-iframe");
    this.parentNode.replaceChild(iframe, this);
  }
</script>
