<div class="image-gallery">
 <ul class="row">
            {{# listItems.twelve }}
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <img class="img-responsive" src="{{img.landscape-4x3.src}}">
            </li>
            {{/ listItems.twelve }}
          </ul>


 <div class="image-gallery--modal fade modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
