
<div class = "container">
<div class="row">
<div class="col-sm-12">
    <h3>University Colors</h3>
    <p class="introduction">These colors are officially sanctioned and used in University designs</p>
</div>
</div>
<div class="row">
        <div class="col-sm-6 col-md-4">
                <h4 class="">Stony Brook Red</h4>
                <div class="color-blurb bg-red"></div>
                <pre><code class="">Foreground Class: .red<br />Background Class: .bg-red </code></pre>
                <pre><code class="">HEX: #990000<br>RGB: 153 0 0</code></pre>
        </div>

        <div class="col-sm-6 col-md-4">
                <h4 class="">Dark Red</h4>
                <div class="color-blurb bg-dark-red"></div>
                <pre><code class="">Foreground Class: .dark-red<br />Background Class: .bg-dark-red </code></pre>
                <pre><code class="">HEX: #890000<br>RGB: 137 0 0</code></pre>
        </div>
</div>

<div class="row">

        <div class="col-sm-6 col-md-4">
                <h4 class="">Gray</h4>
                <div class="color-blurb bg-gray"></div>
                <pre><code class="">Foreground Class: .gray<br />Background Class: .bg-gray </code></pre>
                <pre><code class="">HEX: #CCCCCC<br>RGB: 204 204 204</code></pre>
        </div>





        <div class="col-sm-6 col-md-4">
                <h4 class="">Light Gray</h4>
                <div class="color-blurb bg-light-gray"></div>
                <pre><code class="">Foreground Color: .light-gray<br />Background Class: .bg-light-gray </code></pre>
                <pre><code class="">HEX: #EEEEEE<br>RGB: 238 238 238</code></pre>
        </div>

        <div class="col-sm-6 col-md-4">
                <h4 class="">Dark Gray</h4>
                <div class="color-blurb bg-dark-gray"></div>
                <pre><code class="">Foreground Class: .dark-gray<br />Background Class: .bg-dark-gray </code></pre>
                <pre><code class="">HEX: #333333<br>RGB: 51 51 51</code></pre>
        </div>
</div>
<div class="row">
        <div class="col-sm-6 col-md-4">
                <h4 class="">White</h4>
                <div class="color-blurb bg-white"></div>
                <pre><code class="">Foreground Class: .white<br />Background Class: .bg-white </code></pre>
                <pre><code class="">HEX: #FFFFFF<br>RGB: 255 255 255 </code></pre>
        </div>

        <div class="col-sm-6 col-md-4">
                <h4 class="">Black</h4>
                <div class="color-blurb bg-black"></div>
                <pre><code class="">Foreground Class: .black<br />Background Class: .bg-black </code></pre>
                <pre><code class="">HEX: #000000<br>RGB: 0 0 0 </code></pre>
        </div>

    </div>

<div class="row">
<div class="col-sm-12">

     <h3>Supplemental UI Colors</h3>
    <p class="introduction">These should be used to highlight specific interface elements and should be used sparingly on a page.</p>
</div>
</div>
<div class="row">

        <div class="col-sm-6 col-md-4">
                <h4 class="">Alizarin</h4>
                <div class="color-blurb bg-alizarin"></div>
                <pre><code class="">Foreground Class: .alizarin<br />Background Class: .bg-alizarin </code></pre>
                <pre><code class="">HEX: #E74C3C<br>RGB: 231 76 60</code></pre>
        </div>

        <div class="col-sm-6 col-md-4">
                <h4 class="">Amethyst</h4>
                <div class="color-blurb bg-amethyst"></div>
                <pre><code class="">Foreground Class: .amethyst<br />Background Class: .bg-amethyst </code></pre>
                <pre><code class="">HEX: #9B59B6<br>RGB: 155 89 182</code></pre>
        </div>

        <div class="col-sm-6 col-md-4">
                <h4 class="">Asphalt</h4>
                <div class="color-blurb bg-asphalt"></div>
                <pre><code class="">Foreground Class: .asphalt<br />Background Class: .bg-asphalt </code></pre>
                <pre><code class="">HEX: #34495E<br>RGB: 52 73 94</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">Emerald</h4>
                <div class="color-blurb bg-emerald"></div>
                <pre><code class="">Foreground Class: .emerald<br />Background Class: .bg-emerald </code></pre>
                <pre><code class="">HEX: #2ECC71<br>RGB:  46 204 113</code></pre>
        </div>




        <div class="col-sm-6 col-md-4">
                <h4 class="">Pom</h4>
                <div class="color-blurb bg-pom"></div>
                <pre><code class="">Foreground Class: .pom<br />Background Class: .bg-pom </code></pre>
                <pre><code class="">HEX: #C0392B<br>RGB: 192 57 43</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">River</h4>
                <div class="color-blurb bg-river"></div>
                <pre><code class="">Foreground Class: .river<br />Background Class: .bg-river </code></pre>
                <pre><code class="">HEX: #3498DA<br>RGB: 52 152 219</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">Sun</h4>
                <div class="color-blurb bg-sun"></div>
                <pre><code class="">Foreground Class: .sun<br />Background Class: .bg-sun </code></pre>
                <pre><code class="">HEX: #F39C12<br>RGB: 243 156 18</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">Turquoise</h4>
                <div class="color-blurb bg-turquoise"></div>
                <pre><code class="">Foreground Class: .turquoise<br />Background Class: .bg-turquoise </code></pre>
                <pre><code class="">HEX: #1ABC9C<br>RGB: 26 188 156</code></pre>
        </div>


    </div>
    <div class="row">
    <div class="col-sm-12">

    <h3>Corporate Colors</h3>
    <p class="introduction">These colors should only be used in conjunction with their corporate counter-part.</p>
   </div>
   </div>
   <div class="row">

        <div class="col-sm-6 col-md-4">
                <h4 class="">Facebook</h4>
                <div class="color-blurb bg-facebook"></div>
                <pre><code class="">Foreground Class: .facebook<br />Background Class: .bg-facebook </code></pre>
                <pre><code class="">HEX: #3B5998<br>RGB: 59 89 152</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">Twitter</h4>
                <div class="color-blurb bg-twitter"></div>
                <pre><code class="">Foreground Class: .twitter<br />Background Class: .bg-twitter </code></pre>
                <pre><code class="">HEX: #55ACEE<br>RGB: 85 172 238</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">YouTube</h4>
                <div class="color-blurb bg-youtube"></div>
                <pre><code class="">Foreground Class: .youtube<br />Background Class: .bg-youtube </code></pre>
                <pre><code class="">HEX: #55ACEE<br>RGB: 205 32 31</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">Google Plus</h4>
                <div class="color-blurb bg-google-plus"></div>
                <pre><code class="">Foreground Class: .google-plus<br />Background Class: .bg-google-plus</code></pre>
                <pre><code class="">HEX: #DD4B39<br>RGB: 221 75 57</code></pre>
        </div>

        <div class="col-sm-6 col-md-4">
                <h4 class="">Tumblr</h4>
                <div class="color-blurb bg-tumblr"></div>
                <pre><code class="">Foreground Class: .tumblr<br />Background Class: .bg-tumblr </code></pre>
                <pre><code class="">HEX: #35465C<br>RGB: 53 70 92</code></pre>
        </div>

        <div class="col-sm-6 col-md-4">
                <h4 class="">Instagram</h4>
                <div class="color-blurb bg-instagram"></div>
                <pre><code class="">Foreground Class: .instagram<br />Background Class: .bg-instagram </code></pre>
                <pre><code class="">HEX: #3F729B<br>RGB: 63 114 155</code></pre>
        </div>


        <div class="col-sm-6 col-md-4">
                <h4 class="">Yammer</h4>
                <div class="color-blurb bg-yammer"></div>
                <pre><code class="">Foreground Class: .yammer<br />Background Class: .bg-yammer </code></pre>
                <pre><code class="">HEX: #0072C4<br>RGB: 0 114 198</code></pre>
        </div>

    </div>
</div>



<!-- /.row -->
