
    <h3>Overlays</h3>
    <p class="introduction">Overlays are placed over backgrounds to add contrast</p>
        <div class="overlay-card overlay-black">
            Overlay Black .overlay-black
        </div>

        <div class="overlay-card overlay-gray">
            Overlay Gray .overlay-gray
        </div>

        <div class="overlay-card overlay-red">
            Overlay Red .overlay-red
        </div>

        <div class="overlay-card overlay-river">
            Overlay River .overlay-river
        </div>

        <div class="overlay-card overlay-turquoise">
            Overlay Turquoise .overlay-turquoise
        </div>

        <div class="overlay-card overlay-white">
            Overlay White .overlay-white
        </div>
