<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <script src="../../placeholders/js/jquery-1.9.1.js"></script>
        <script src="../../placeholders/js/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    

      <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/ee71ef3e-a7f1-47dd-8ae1-4ae6bec02b30.css"/>
      <link rel="apple-touch-icon" href="../../images/favicons/apple-touch-icon-144x144-precomposed.png">
      <link rel="icon" href="../../images/favicons/icon.png">
      <!--[if IE]>
        <link rel="shortcut icon" href="/.dist/assets/images/favicons/favicon.ico">
      <![endif]-->
      
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      
      <script type="text/javascript" src="../../js/header/header.dev.js"></script>


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body class="{{ bodyClass }}">
    
