<div class="row">

{{# listItems.three }}
    <div class="col-sm-12 col-md-6 col-lg-4">
            {{> molecules-polaroid-card(showimage:false) }}
    </div>
{{/ listItems.three }}

</div>
<div class="row">

{{# listItems.four }}
    <div class="col-sm-12 col-md-6 col-lg-3">
            {{> molecules-polaroid-card(showimage:true) }}
    </div>
{{/ listItems.four }}

</div>
