<div class="row">

{{# listItems.three }}
    <div class="col-sm-12 col-md-6 col-lg-12">
            {{> molecules-drop-accordion-card() }}
    </div>
{{/ listItems.three }}

</div>



<div class="row">


<div class="col-sm-12 col-md-6 col-lg-6">

    {{# listItems.three }}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
                {{> molecules-drop-accordion-card() }}
        </div>
    </div>
    {{/ listItems.three }}


</div>


<div class="col-sm-12 col-md-6 col-lg-6">

    {{# listItems.four }}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
                {{> molecules-drop-accordion-card() }}
        </div>
    </div>
    {{/ listItems.four }}


</div>

</div>
