<div class="classic-blurb-card">
    {{# showicon }}
    <span class="classic-blurb-card--icon {{icon}}"></span>
    {{/ showicon }}

    {{^ showicon }}
    <div class="classic-blurb-card--image-wrap">
    <img class="classic-blurb-card--image" src="{{img.landscape-4x3.src}}" />
    </div>
    {{/showicon}}

    <div class="classic-blurb-card--content">
        <h2 class="classic-blurb-card--heading">{{ headline.medium }}</h2>

        {{# headline.short }}
        <h3 class="classic-blurb-card--subheading">{{ headline.short }}</h3>
        {{/ headline.short }}

        <div class="classic-blurb-card--text">
            {{{paragraph.medium}}}
        </div>

        {{# cta }}
        <div class="classic-blurb-card--cta">
            <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
        </div>
        {{/ cta }}

    </div>
</div>
