<div class="screenshot">
    <img class="screenshot--image" src="{{ img.landscape-16x9.src }}" alt="{{ img.square.alt }}" />
    <div class="screenshot--caption asphalt">
        <div class="screenshot--caption-content">
            <a href="#" class="screenshot--caption--link single_image">
                <p><i class="screenshot--icon {{icon}}"></i></p>
                <br>
                <p>{{headline.short}}</p>
            </a>
        </div>
    </div>
</div>
