<div class="reveal-card">
	<img class="reveal-card--image" src="{{img.square.src }}">
	<div class="reveal-card--overlay"></div>
	<div class="reveal-card--corner-reveal">Info</div>
	<div class="reveal-card--reveal-content">
		<h2 class="reveal-card--reveal-heading">{{headline.x-small}}</h2>
		<p>{{excerpt.short}}</p>
	</div>
</div>
